<% provide(:title, "LogIn") %>
<div class="intro_wrapper window_span">
    <div class="intro_wrapper_overlay window_span"></div>
    <div class="container">
            <div class="login_form_container form_container curr_active">
                <div class="login_form form_content animated fadeIn">
                	<p>LogIn to your account</p>
                    <%= form_for(:session, url: sessions_path) do |f| %>
                    <% if flash[:danger] %>
                        <div class="alert alert-danger"><%= flash[:danger] %></div>
                        <% flash.clear %>
                    <% end %>
                        <div class="form-group">
                            <%= f.label :email, :class => "control-label" %>
                            <%= f.email_field :email, :class => "form-control", :placeholder => "Eg.: username@example.com" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password, :class => "control-label" %>
                            <%= f.password_field :password, :class => "form-control", :placeholder => "Your Profie Password" %>
                        </div>
                        <div class="redirect_links">
                            <%= f.label :remember_me, :class => "cbox" do%>
                                <%= f.check_box :remember_me %>
                                <span>Remember me</span>
                            <% end %> | 
                        	<%= link_to "Forgot Password?", new_password_reset_path, :class=>"forgot_password_link" %><br/> 
                            <%= link_to "SignUp as Student", new_student_path %> | 
                            <%= link_to "SignUp as College", new_tpo_path %><br/>
                            <%= link_to "Didn't recieved account activation instructions?", new_account_activation_path %>
                        </div>
                        <div class="submit_btn_wrapper btn btn-lg"><span style="visibility:hidden">Sign Up</span>
                            <%= f.submit "Log In", :class => "btn btn-default btn-lg sign_up_btn" %>
                            <span class="hover_span"></span>
                        </div>
                    <% end %>
               </div>
            </div>
   </div>
</div>

