Hi,

A new Tpo has signed up!
Details are below :<br/>
<b>Name :</b> <%= @tpo.first_name+' ' %><%= @tpo.last_name if !@tpo.last_name.nil? %><br/>
<b>Name :</b> <%= @tpo.email %><br/>
<b>college :</b> <%= @tpo.college %><br/>
<b>Phone_no :</b> <%= @tpo.phone_no %><br/>
<b>Activation Link :</b> <%= edit_account_activation_url(@tpo.activation_token, email: @tpo.email) %>