<p>Hi, <%= @tpo.first_name %>,</p>
<p>Thank you for signing up with us.</p>
<p>We need to verify college profiles for keeping our platform spam free. You'll soon get a call regarding the same on your no. : <b><%= @tpo.phone_no %></b></p>
<p>In case of any queries you can reach out to us at support@simplifica.com</p>