Hi <%= @tpo.first_name+" "+@tpo.last_name %>,<br />
<p>Thank you for your co-operation.</p>
<p>Your Simplifica profile has been verified and activated.</p>
<p>
	You can use the link given below to log in to your account or you can go to our site to log in.
</p>
<p>We hope our platform will be useful to you.</p>
<p><%= link_to "click here to log In to your account", new_session_url %></p>