<div class="heading_container">
	<h4>Experience<small>(Internships/Part-Time Jobs)</small></h4>
</div>
<div class="experience_container">
	<%= f.fields_for :experiences do |e| %>
		<%= f.hidden_field :experience_ids, :multiple => true %>
		<div class="experience">
			<div class="col-lg-6 col-md-6">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-building"></span></div>
					<%= e.text_field :company_name, :class => "form-control company_name", :placeholder => "Company" %>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-briefcase"></span></div>
					<%= e.text_field :position, :class => "form-control position", :placeholder => "Position" %>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-calendar-o"></span></div>
					<%= e.text_field :start_date, :class => "form-control date", :placeholder => "Start Date" %>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-calendar"></span></div>
					<%= e.text_field :end_date, :class => "form-control date", :placeholder => "End Date" %>
				</div>
			</div>
			<div class=" col-lg-12">
				<div class="form-group">
					<%= e.label :contributions, :class => "control-label" %> 
					<%= e.text_area :contributions, :class => "form-control contributions" %>
				</div>
			</div>
			<div class="col-lg-12">
				<%= e.hidden_field :_destroy %>
				<a class="btn btn-md btn-danger pull-right" id="remove_experience">
					<span class="fa fa-remove"></span> Remove
				</a>
			</div>
		</div>
	<% end %>
</div>
<p id="experience_limit_reached">You cannot add more than 6 experiences</p>
<a class="pull-right btn btn-md blue" id="add_experience"><span class="fa fa-plus"></span> Add More</a>