<div class="heading_container">
	<h4>Projects<small></small></h4>
</div>
<div class="project_container">
	<%= f.fields_for :projects do |e| %>
		<%= f.hidden_field :project_ids, :multiple => true %>
		<div class="project">
			<div class="col-lg-12">
				<div class="input-group">
					<div class="input-group-addon"><span class="fa fa-file-code-o"></span></div>
					<%= e.text_field :name, :class => "form-control project_name", :placeholder => "Name of Project" %>
				</div>
			</div>
			<div class=" col-lg-12">
				<div class="form-group">
					<%= e.label :description, :class => "control-label" %> 
					<%= e.text_area :description, :class =>"form-control" %>
				</div>
			</div>
			<div class="col-lg-12">
				<%= e.hidden_field :_destroy %>
				<a id="remove_project" class="btn btn-danger btn-md pull-right"><span class="fa fa-remove"></span> Remove</a> 
			</div>
		</div>
	<% end %>
</div>
<p id="project_limit_reached">You cannot add more than 6 Projects</p>
<a class="pull-right btn btn-md blue" id="add_project"><span class="fa fa-plus"></span> Add Project</a>