<% provide(:title, "Edit Profile | "+@student.first_name.to_s+" "+@student.last_name.to_s) %>
<div class="student_profile_edit_container">
	<h3>Update Your Profile</h3>
		<div class="row">
			<%= form_for @student do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<p class="text-center text-danger hidden" id="form_error_message">The Form Conatins errors. Please Fix the Highlighted fields and submit the form again.</p>
				<div class="col-lg-2 col-md-2 student_image_upload">
					<div class="pic_upload_container" style="background-image:url(<%= current_user.image_url.nil? ? image_url('default_user.jpg') : current_user.image_url.to_s %>)">
						<div class="upload_icon" id="upload_button">
							<span class="fa fa-upload"></span>
						</div>
						<%= f.file_field :image %>
					</div>
					<div class="social_profiles col-lg-12">
						<label class="control-label">Social Profiles</label>
						<%= f.fields_for :social_profile do |s| %>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="fa fa-globe"></span>
								</div>
								<%= s.text_field :website, :class => "form-control" %>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="fa fa-linkedin"></span>
								</div>
								<%= s.text_field :linkedin, :class => "form-control" %>
							</div>
							<div class="input-group">
								<div class="input-group-addon">
									<span class="fa fa-github"></span>
								</div>
								<%= s.text_field :github, :class => "form-control" %>
							</div>
						<% end %>
					</div>
				</div>
				<div class="col-lg-10 col-md-10 student_details">
					<div class="student_info_element col-lg-12">
						<div class="heading_container">
							<h4>Name</h4>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<%= f.label :first_name, :class => "control-label" %>
								<%= f.text_field :first_name, :class => "form-control", :placeholder => "First name" %>
							</div>	
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-grouPp">
								<%= f.label :last_name, :class => "control-label" %>
								<%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
							</div>
						</div>
					</div>
					<div class="student_info_element col-lg-12">
						<div class="heading_container">
							<h4>Contact Information</h4>
						</div>
						<div class="col-lg-4">
							<div class="input-group">
								<div class="input-group-addon">@</div>
								<%= f.email_field :email, :class => "form-control", 'data-toggle' => "tooltip", 'data-placement' => "bottom", :title => "Email Id", :disabled => "true" %>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-phone"></span></div>
								<%= f.text_field :phone_no, :class => "form-control", :placeholder => "Phone No." %>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="input-group">
								<div class="input-group-addon"><span class="fa fa-map-marker"></span></div>
								<%= f.collection_select( :location_id, Location.all, :id, :location, {}, {:class => "form-control", 'data-toggle' => "tooltip", 'data-placement' => "right", :title => "Your current location"} ) %>
							</div>
						</div>
					</div>
					<div class="student_info_element col-lg-12">
						<%= render 'education_form', :f => f %>
					</div>
					<div class="col-lg-12 student_info_element experience_wrapper">
							<%= render 'experience_form', :f => f %>
					</div>
					<div class="col-lg-12 student_info_element project_wrapper">
							<%= render 'project_form', :f => f %>
					</div>
					<div class="student_info_element col-lg-12 skills">
						<div class="heading_container">
							<h4>Skills</h4>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<%= f.text_area :skills, :class => "form-control", :placeholder => "First name" %>
							</div>	
						</div>
					</div>
					<div class="student_info_element col-lg-12 achievements">
						<div class="heading_container">
							<h4>Achievements</h4>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<%= f.text_area :achievements, :class => "form-control", :placeholder => "First name" %>
							</div>	
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<%= f.submit "Update", :class=>"btn update_student btn-lg blue pull-right" %>
				</div>
			<% end %>
		</div>
</div>
<%= javascript_include_tag 'student_users' %>
