<% provide(:title, @student.first_name.to_s+" "+@student.last_name.to_s) %>
<div class="row">
	<%= render 'student_sidebar' %>
	<div class="col-lg-10 col-md-10 col-sm-10 user_content">
		<div class="row student_profile">
			<div class="col-lg-8 col-md-8">
				<h1><%= @student.first_name %> <%= @student.last_name %></h1>
			</div>
			<% if current_user == @student %>
				<div class="col-lg-4 col-md-4 hidden-xs hidden-sm profile_edit_btn text-right">
					<div class="col-lg-12">
						<%= link_to edit_student_path, :class=>"btn btn-sm btn-default pull-right" do %>
							<span class="fa fa-edit"></span> Edit
						<% end %>
					</div>
				</div>
			<% end %>
				<!-- prev code goes here just in case -->
			<div class="divider"></div>
			<div class="col-lg-12 student_summary">
				<table class="table">
					<tbody>
						<tr>
							<td><span class="fa fa-envelope"></span><span class="hor_divider"></span><%= @student.email %></td>
							<% unless @student.phone_no.nil? && @student.phone_no.blank? %>
								<td><span class="fa fa-phone"></span><span class="hor_divider"></span><%= @student.phone_no %></td>
							<% end %>
							<td><span class="fa fa-map-marker"></span><span class="hor_divider"></span><%= @location.location %></td>
						</tr>
						<tr>
							<td><span class="fa fa-institution"></span><span class="hor_divider"></span><%= @college.college_name %></td>
							<td><span class="fa fa-graduation-cap"></span><span class="hor_divider"></span><%= @course.name %></td>
							<td><span class="fa fa-share-alt"></span><span class="hor_divider"></span><%= @branch.name %></td>	
						</tr>
					</tbody>
				</table>
			</div>
			<div class="divider"></div>
			<% if @experiences.any? %>
				<div class="col-lg-12 abot_stu">
					<div class="heading_container">
						<h3>Experience</h3>
					</div>
					<div class="experiences_tables">
						<% @experiences.each do |e| %>
							<table class="table table-striped table-bordered" id="experience_<%= e.id %>">
								<tbody>
									<tr data-toggle="collapse" data-target="#contributions_<%= e.id %>" data-parent="experience_<%= e.id %>" class="accordion-toggle">
										<td><b><%= e.position %></b> at <b><%= e.company_name %></b></td>
										<td class="time_period">
											<small>
												[ <%= e.start_date.strftime('%d %b %Y') %> to <%= e.end_date.strftime('%d %b %Y') %> ]
											</small>
										</td>
										<td class="collapse_btn" width="20px;">
											<button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="right" data-original-title="asdasd"><span class="fa fa-arrows-v"></span></button>
										</td>
									</tr>
									<tr>
										<td colspan="3" class="hidden_row">
											<div id="contributions_<%= e.id %>" class="accordian-body collapse">
												<%= simple_format(e.contributions) %>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						<% end %>
					</div>
				</div>
				<div class="divider"></div>
			<% end %>
			<div class="col-lg-12 abot_stu">
				<div class="heading_container">
					<h3>Education</h3>
				</div>
				<table class="table table-responsive table-striped table-bordered educations_table">
					<thead>
						<tr>
							<td>University/Board</td>
							<td>Course/Degree</td>
							<td>Percentage</td>
							<td>Year of Passing</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="institute"><%= @college.college_name %></td>
							<td>
								<%= @course.name %> 
								<small>[<%= @branch.name %>]<small>
							</td>
							<td><%= @student.percentage %></td>
							<td><%= @student.year_of_passing %></td>
						</tr>
						<% @educations.each do |e| %>
							<tr>
								<td class="institute"><%= e.institute %></td>
								<td><%= e.degree %></td>
								<td><%= e.percentage %></td>
								<td><%= e.year_of_passing %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
			<div class="divider"></div>
			<% if @projects.any? %>
				<div class="col-lg-12 abot_stu">
					<div class="heading_container">
						<h3>Projects</h3>
					</div>
					<div class="projects">
						<% @projects.each do |p| %>
							<table class="table table-striped table-bordered projects_table" id="project_<%= p.id %>">
								<tbody>
									<tr data-toggle="collapse" data-target="#description_<%= p.id %>" data-parent="project_<%= p.id %>" class="accordion-toggle">
										<td><b><%= p.name %></b></td>
										<td class="collapse_btn" width="20px;">
											<button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="right" data-original-title="asdasd"><span class="fa fa-arrows-v"></span></button>
										</td>
									</tr>
									<tr>
										<td colspan="2" class="hidden_row">
											<div id="description_<%= p.id %>" class="accordian-body collapse">
												<%= simple_format(p.description) %>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						<% end %>
					</div>
				</div>
				<div class="divider"></div>
			<% end %>
			<% if !@student.skills.nil? && !@student.skills.empty? %>
				<div class="col-lg-12 abot_stu">
					<div class="heading_container">
						<h3>Skills</h3>
					</div>
					<div>
						<%= simple_format(@student.skills) %>
					</div>
				</div>
				<div class="divider"></div>
			<% end %>
			<% if !@student.achievements.nil? && !@student.achievements.empty? %>
				<div class="col-lg-12 abot_stu">
					<div class="heading_container">
						<h3>Achievements</h3>
					</div>
					<div>
						<%= simple_format(@student.achievements) %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//$('.collapse').collapse();
		//$('.collapse').hide();
	})
</script>