<li id="jobpost-<%= jobpost.id %>" class="jobpost_container">
	<div class="jobpost">
		<div class="job_title">
			<div class="position left_aligned lead"><%= jobpost.position %></div>
			<div class="company right_aligned lead"><%= jobpost.company %></div>
		</div>
		<div class="job_info row">
			<div class="col-lg-3 col-md-3 col-sm-12 general_info">
				<ul class="lsit list-unstyled">
					<li>
						<span class="fa fa-map-marker"></span> 
						<%= Location.find(jobpost.location_id).location %>
					</li>
					<li>
						<span class="fa fa-suitcase"></span> 
						<%= JobType.find(jobpost.job_type).name %>
					</li>
					<li>
						<span class="fa  fa-minus-square"></span> 
						<%= jobpost.percentage_required %> %
					</li>
				</ul>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 courses_branches">
				<ul class="list list-unstyled">
					<% jobpost.courses.each do |c| %>
						<% eligible_branches = Array.new %>
                        <li>
                        	<span class="course_name"><%= c.name %></span>
                        	<% c.branches.each do |b| %>
                        		<% eligible_branches.push(b) if jobpost.branch_ids.include?(b.id) %>
                        	<% end %>
                        	<% eligible_branches.each do |b| %>
                        		<span class="branch_name"><%= b.name %></span>
                        	<% end %>
                        </li>
                    <% end %>
				</ul>
			</div>
		</div>
		<div class="actions">
			<% if current_user.user_type == 1 && current_user.id == jobpost.tpo_id %>
				<%= link_to view_applicants_jobpost_path(id: jobpost.id), :class => "btn btn-default btn-sm pull-left" do %>
					<span class="fa fa-th-list"></span> View Applications
				<% end %>
				<%= link_to jobpost_path(jobpost), method: "delete", data: { confirm: "Are you sure you want to delete this post?" }, :class => "btn btn-danger btn-sm" do %>
					<span class="fa fa-close"></span> Delete
				<% end %>
				<%= link_to edit_jobpost_path(jobpost), :class => "btn btn-primary btn-sm" do %>
					<span class="fa fa-edit"></span> Edit
				<% end %>
				<%= link_to jobpost, :class => "btn blue btn-sm" do %>
					<span class="fa fa-eye"></span> View
				<% end %>   
			<% elsif current_user.user_type == 2 %>
				<%= link_to jobpost, :class => "btn blue btn-md" do %>
					<span class="fa fa-eye"></span> <%= JobApplication.find_by(student_id: current_user.id, jobpost_id: jobpost.id) ? "View" : "View & Apply" %>
				<% end %> 
			<% else %>
				<%= link_to jobpost, :class => "btn blue btn-sm" do %>
					<span class="fa fa-eye"></span> View
				<% end %>  
			<% end %> 
		</div>
		<div class="author">
			<% jobpost_author = jobpost.tpo %>
			posted <%= time_ago_in_words(jobpost.created_at) %> ago by <%= current_user == jobpost.tpo ? "you" : link_to(jobpost_author.first_name, jobpost_author)  %>
		</div>
	</div>
</li>