<%= form_for(@jobpost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <p id="jobpost_error_message" class="hidden text-center text-danger">
        The form contains errors. Please correct the highlighted fields and submit the form again.
        <br/><br/>
    </p>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <%= f.label :company, :class => "control-label" %>
                <%= f.text_field :company, :class => "form-control", :placeholder => "Company Name" %>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <%= f.label :position, :class => "control-label" %>
                <%= f.text_field :position, :class => "form-control", :placeholder => "Position Offered" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="form-group">
                <%= f.label :percentage_required, :class => "control-label" do %>
                	Required percentage
                <% end %>
                <%= f.text_field :percentage_required, :class => "form-control", :placeholder => "Eg. 60" %>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <%= f.label :year_required, :class => "control-label" do %>
                    Eligible batch
                <% end %>
                <%= f.collection_select(:year_required, BatchYear.all, :year, :year, {}, {:class => "form-control"}) %>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        	<div class="form-group">
                <%= f.label :job_type, :class => "control-label" %>
                <%= f.collection_select(:job_type, JobType.all, :id, :name, {}, {:class => "form-control"}) %>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="form-group">
                <%= f.label :ctc, :class => "control-label" do %>
                    CTC offered
                <% end %>
                <%= f.text_field :ctc, :class => "form-control", :placeholder => "Eg. 6LPA" %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">
            Eligible Courses
            <small id="select_all_courses_container">
                <label class="checkbox-inline">
                    <input type="checkbox" id="select_all_courses" /> Select All
                </label>
            </small>
        </label>
        <div class="checkbox courses_selection">
            <%= hidden_field_tag 'jobpost[course_ids][]', nil %>
            <% @courses.each do |course| %>
                <label class="checkbox-inline">
                    <%= check_box_tag 'jobpost[course_ids][]', course.id, @jobpost.course_ids.include?(course.id), {:id => dom_id(course), :class => course.id} %>
                    <%= label_tag dom_id(course), course.name %>
                </label>
            <% end %>
        </div>
    </div>
    <div class="form-group">
        <div>
        	<label class="control-label">
                Eligible branches
                <small id="select_all_branches_container">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="select_all_branches" /> Select All
                    </label>
                </small>
            </label>
            <label class="pull-right label label-danger hidden" id="branches_error">You need to select atleast 1 branch for each course you've selected</label>
        </div>
        <div class="checkbox branches_selection">
            <%= hidden_field_tag 'jobpost[branch_ids][]', nil %>
            <div class="branches_overlay">
                <%= image_tag 'ajax-loader-blue.gif' %>
            </div>
            <% if f.object.new_record? %>
                <p class="message">Please select a course from the above list</p>
                <div class="dynamic_branches_container"></div>
            <% else %>
                <% if @branches.empty? %>
                    <p class="message" >Please select a course from the above list</p>
                    <div class="dynamic_branches_container"></div>
                <% else %>
                    <p class="message" style="display:none" >Please select a course from the above list</p>
                    <div class="dynamic_branches_container">
                        <% @previously_saved_course_ids.each do |c| %>
                            <% course_branches = @branches.select{ |b| b.course_id == c} %>
                            <div class="branches">
                                <b class="course_name"><%= Course.find(c).name %></b>
                                <% course_branches.each do |branch| %>
                                    <label class="checkbox-inline">
                                        <%= check_box_tag 'jobpost[branch_ids][]', branch.id, @jobpost.branch_ids.include?(branch.id), {:id => dom_id(branch), :class => branch.id, "data-course"=>branch.course_id} %>
                                        <%= label_tag dom_id(branch), branch.name %>
                                    </label>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
    	 </div>
    </div>
    <div class="form-group">
        <%= f.label :other_requirements, :class => "control-label" %>
        <%= f.text_area :other_requirements, :class => "form-control", :placeholder => "Skils, Other Requirements" %>
    </div>
    <div class="form-group">
        <%= f.label :about_company, :class => "control-label" %>
        <%= f.text_area :about_company, :class => "form-control", :placeholder => "About the Company" %>
    </div>
    <div class="form-group">
        <%= f.label :job_profile, :class => "control-label" %>
        <%= f.text_area :job_profile, :class => "form-control", :placeholder => "Job Description" %>
    </div>
    <div class="form-group">
        <%= f.label :instructions, :class => "control-label" do %>
            Instructions to Applicants
        <% end %>
        <%= f.cktext_area :instructions, :class => "form-control", :placeholder => "Instructions to Applicants" %>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="form-group">
                <%= f.label :venue, :class => "control-label" %>
                <%= f.text_field :venue, :class => "form-control", :placeholder => "Adderess for the drive" %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <%= f.label :location_id, :class => "control-label" %>
                <%= f.collection_select(:location_id, Location.all, :id, :location, {}, {:class=>'form-control'}) %>
            </div>
        </div>
    </div>
    <div class="row event_info">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <%= f.label :last_date, :class => "control-label" do %>
                    Last Date to Apply
                <% end %>
                <%= f.text_field :last_date, :class => "form-control date", :placeholder => "Click to open Calander" %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <%= f.label :drive_date, :class => "control-label" do %>
                    Date of Event
                <% end %>
                <%= f.text_field :drive_date, :class => "form-control date", :placeholder => "Click to open Calander" %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <%= f.label :reporting_time, :class => "control-label" do %>
                    Reporting Time
                <% end %>
                <%= f.text_field :reporting_time, :class => "form-control", :placeholder => "Eg. 9.30AM" %>
            </div>
        </div>
    </div>
    <%= f.submit ( f.object.new_record? ? "Post" : "Update"), :class=>"btn btn-lg blue pull-right" %>
<% end %>
<%= javascript_include_tag 'jobs', 'data-turbolinks-track' => true %>
