<% provide(:title, "Students List | "+@jobpost.company+" | "+@jobpost.position) %>
<% if @applications.any? %>
	<p class="text-center">
		Students 
		<% if params[:selected] %>
			selcted by
		<% elsif params[:shortlisted] %>
			shortlisted by
		<% else %>
			applied to
		<% end %> 
		<b><%= @jobpost.company %></b> for the role of <b><%= @jobpost.position %></b></p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>Name</td>
				<td>Email</td>
				<% if @jobpost.job_type != 1 && @jobpost.job_type != 4 %>
					<td>College</td>
				<% end %>
				<td>Course</td>
			</tr>
		</thead>
		<tbody>
			<% @applications.each do |a| %>
				<% applicant = Student.find(a.student_id) %>
				<tr>
					<td><%= applicant.first_name+" "+applicant.last_name %></td>
					<td><%= applicant.email %></td>
					<% if @jobpost.job_type != 1 && @jobpost.job_type != 4 %>
						<td>College</td>
					<% end %>
					<td><%= Course.find(applicant.course_id).name %>[<%= Branch.find(applicant.branch_id).name %>]</td>
				<tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<script>
	window.print();
	window.onfocus=function(){ window.close();}
	setTimeout(function () { window.close(); }, 100);
</script>