<% provide(:title, @jobpost.position.to_s+" | "+@jobpost.company.to_s) %>
<div class="row">
	<% if current_user.user_type == 2 %>
		<%= render '/students/student_sidebar' %>
	<% else %>
		<%= render '/tpos/tpo_sidebar' %>
	<% end %>
	<div class="col-lg-10 col-md-10 col-sm-10 main_content">
		<div class="show_job_content">
			<div class="job_title">
				<h3><%= @jobpost.company %> hiring <%= @jobpost.position.pluralize %>
					<small>
						[ <%= JobType.find(@jobpost.job_type).name %> <%= " | "+@jobpost.ctc.to_s unless @jobpost.ctc.nil? %> ]
					</small>
				</h3>
			</div>
			<div class="job_info">
				<% if @jobpost.about_company && !@jobpost.about_company.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>About <%= @jobpost.company %></h4></div>
						<div class="about_company">
							<%= simple_format(@jobpost.about_company) %>
						</div>
					</div>
				<% end %>
				<% if @jobpost.job_profile && !@jobpost.job_profile.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>About Position <small>(<%= @jobpost.position %>)</small></h4></div>
						<div class="about_pos">
							<%= simple_format(@jobpost.job_profile) %>
						</div>
					</div>
				<% end %>
				<div class="desc">
					<div class="desc_title"><h4>Eligibility</h4></div>
					<div class="about_eligibility">
						<table class="table table-bordered" id="eligibility_table">
							<thead>
								<tr>
									<th width="200px">Course</td>
									<th>Branch</td>
								</tr>
							</thead>
							<tbody>
								<% @jobpost.courses.each do |c| %>
									<% eligible_branches = Array.new %>
			                        <tr>
			                        	<td class="course_name"><%= c.name %></td>
			                        	<% c.branches.each do |b| %>
			                        		<% eligible_branches.push(b) if @jobpost.branch_ids.include?(b.id) %>
			                        	<% end %>
			                        	<td class="eligible_branches">
				                        	<% eligible_branches.each do |b| %>
				                        		<span class="branch_name"><%= b.name %></span>
				                        	<% end %>
			                        	</td>
			                        </tr>
			                    <% end %>
							</tbody>
						</table>
						<b>Minimum Percentage required : </b><%= @jobpost.percentage_required %> %<br/>
						<b>Eligible batch : </b><%= @jobpost.year_required %>
					</div>
				</div>
				<% if @jobpost.other_requirements && !@jobpost.other_requirements.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>Other Requirements</h4></div>
						<div class="about_req">
							<%= simple_format(@jobpost.other_requirements) %>
						</div>
					</div>
				<% end %>
				<% if @jobpost.instructions && !@jobpost.instructions.empty? %>
					<div class="desc">
						<div class="desc_title"><h4>Instructions From Tpo</h4></div>
						<div class="about_instructions">
							<%= simple_format(@jobpost.instructions) %>
						</div>
					</div>
				<% end %>
				<div class="desc">
					<div class="desc_title"><h4>Event Information</h4></div>
					<div class="relevant_dates">
						<p> <b>Last Date to Apply</b> : <%= @jobpost.last_date.strftime('%A, %B %d, %Y') %></p>
						<p> <b>Date of the Event</b> : <%= @jobpost.drive_date.strftime('%A, %B %d, %Y') %></p>
						<p> <b>Reporting Time</b> : <%= @jobpost.reporting_time %></p>
						<p> <b>Venue</b> : <%= @jobpost.venue %></p>
						<p> <b>Location</b> : <%= Location.find(@jobpost.location_id).location %></p>
					</div>
				</div>
				<div class="actions">
					<% if current_user.user_type == 1 && current_user.id == @jobpost.tpo_id %>
						<%= link_to view_applicants_jobpost_path, :class => "btn btn-default btn-md pull-left" do %>
							<span class="fa fa-th-list"></span> View Applications
						<% end %>
						<%= link_to jobpost_path(@jobpost), method: "delete", 'data-confirm' => "Are you sure you want to delete this post?", :class => "btn btn-danger btn-md" do %>
							<span class="fa fa-close"></span> Delete
						<% end %>
						<%= link_to edit_jobpost_path(@jobpost), :class => "btn btn-primary btn-md" do %>
							<span class="fa fa-edit"></span> Edit
						<% end %> 
					<% end %>
						<% if current_user.user_type == 2 %>
							<% if already_applied? %>
								<span class="btn btn-md btn-success green">
									<span class="fa fa-check"></span> Already Applied
								</span>
							<% elsif !can_apply? %>
								<p class="text-danger">This job is an on-campus opportunity, only the students from <%= @colege.college_name %> can apply.</p>
							<% elsif job_expired? %>
								<p class="text-danger">The Job has expired</p>
							<% elsif is_eligible? %>								
								<%= link_to submit_application_path(jobpost_id: @jobpost.id), :method => :post, :class => "btn btn-md blue" do %>
									<span class="fa fa-sign-in"></span> Apply
								<% end %>
							<% else %>
								<p class="text-danger">You are not eligible to apply for this job</p>
							<% end %>
						<% end %>
				</div>
			</div>
	</div>
	</div>
</div>