<% provide(:title, "View Applications") %>
<div class="applications_container">
	<div class="heading_container">
		<h1 class="lead">
			<% if @show_selected %>
				Selections for <%= @jobpost.position %> at <%= @jobpost.company %>
				<small>
					[ Posted on : <%= @jobpost.created_at.strftime('%d %b %Y') %> | <%= pluralize @applications.count, "Selection" %> ]
				</small>
			<% elsif @show_shortlisted %>
				Shortlisted Applicants <%= @jobpost.position %> at <%= @jobpost.company %>
				<small>
					[ Posted on : <%= @jobpost.created_at.strftime('%d %b %Y') %> | <%= pluralize @applications.count, "Shortlist" %> ]
				</small>
			<% else %>
				Applications for <%= @jobpost.position %> at <%= @jobpost.company %>
				<small>
					[ Posted on : <%= @jobpost.created_at.strftime('%d %b %Y') %> | <%= pluralize @applications.count, "Application" %> ]
				</small>
			<% end %>
		</h1>
	</div>
	<div class="search_applicants row">
		<div class="view_by_status col-lg-12 col-md-12">
			<% if @show_selected %>
				<% if @applications.any? %>
					<a class="btn btn-md btn-default" id="send_note_btn" data-toggle="tooltip" data-placement="top" title="Send a note to applicants">
						<span class="fa fa-send"></span> Send Mailer
					</a>
					<%= link_to print_applicants_jobpost_path, :class=>"btn btn-md btn btn-default", :target=>"_blank" do %>
						<span class="fa fa-print"></span> Print
					<% end %>
					<%= link_to download_excelsheet_jobpost_path(format: :xlsx, selected: true), :class=>"btn btn-md btn btn-default" do %>
						<span class="fa fa-download"></span> Download as Spreadsheet
					<% end %>
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id), :class=>"pull-right btn btn-md btn-default" do %>
					<span class="fa fa-th-list"></span> All Applicants
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id, show_shortlisted: true), :class=>"pull-right btn btn-md blue" do %>
					<span class="fa fa-plus"></span> Shortlisted Applicants
				<% end %>
			<% elsif @show_shortlisted %>
				<% if @applications.any? %>
					<a class="btn btn-md btn-default" id="send_note_btn" data-toggle="tooltip" data-placement="top" title="Send a note to applicants">
						<span class="fa fa-send"></span> Send Mailer
					</a>
					<%= link_to print_applicants_jobpost_path, :class=>"btn btn-md btn btn-default", :target=>"_blank" do %>
						<span class="fa fa-print"></span> Print
					<% end %>
					<%= link_to download_excelsheet_jobpost_path(format: :xlsx, shortlisted: true), :class=>"btn btn-md btn btn-default" do %>
						<span class="fa fa-download"></span> Download as Spreadsheet
					<% end %>
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id), :class=>"pull-right btn btn-md btn-default" do %>
					<span class="fa fa-th-list"></span> All Applicants
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id, show_selected: true), :class => "pull-right btn btn-md btn-success green" do %>
					<span class="fa fa-check"></span> Selected Applicants
				<% end %>
			<% else %>
				<% if @applications.any? %>
					<a class="btn btn-md btn-default" id="send_note_btn" data-toggle="tooltip" data-placement="top" title="Send a note to applicants">
						<span class="fa fa-send"></span> Send Mailer
					</a>
					<%= link_to print_applicants_jobpost_path, :class=>"btn btn-md btn btn-default", :target=>"_blank" do %>
						<span class="fa fa-print"></span> Print
					<% end %>
					<%= link_to download_excelsheet_jobpost_path(format: :xlsx), :class=>"btn btn-md btn btn-default" do %>
						<span class="fa fa-download"></span> Download as Spreadsheet
					<% end %>
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id, show_selected: true), :class => "pull-right btn btn-md btn-success green" do %>
					<span class="fa fa-check"></span> Selected Applicants
				<% end %>
				<%= link_to view_applicants_jobpost_path(id: @jobpost.id, show_shortlisted: true), :class=>"pull-right btn btn-md blue" do %>
					<span class="fa fa-plus"></span> Shortlisted Applicants
				<% end %>
			<% end %>
		</div>
		<% if @applications.any? %>
			<div class="col-lg-12 col-md-12 col-sm-12 note_form">
				<%= form_for @jobpost, :method=>"patch", :url=>"tpo_note", :class=>"form-inline" do |f| %>
					<%= f.text_area :notification_mailer, :class=>"form-control", :placeholder=>"Send a note to the applicants" %>
					<div class="applicants_selection">
						<label class="control-label">Send to &nbsp;&nbsp; </label>
						<div class="checkbox">
							<label class="checkbox-inline">
								<%= check_box_tag :all, '', (!@show_selected && !@show_shortlisted) ? true : false %> All Apllicants
							</label>
							<label class="checbox-inline">
								<%= check_box_tag :shortlisted, '' , @show_shortlisted ? true : false %>
								Shortlisted Applicants
							</label>
							<label class="checbox-inline">
								<%= check_box_tag :selected, '' , @show_selected ? true : false %>
								Selected Applicants
							</label>
						</div>
					</div>
					<div class="action_buttons">
						<a class="btn btn-md btn-default" id="cancel_note_btn">Cancel</a>
						<%= f.submit "Send", :class=>"btn btn-md blue" %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="application_table_container">
		<% if @applications.any? %>
			<div class="note text-right text-danger">
				<% if !@show_selected && !@show_shortlisted %>
					<small>Please shortlist and select candidates carefully. These actions cannot be undone.<br/>
					An email will be sent to the shortlisted/selected candidates notifying them about the corresponding actions.</small>
				<% end %> 
			</div>
			<div class="pagination_container">
				<%#= #paginate @applications, :window => 0 %>
			</div>
			<table class="table table-bordered application_table" id="jobpost_applicants" data-jobpost-id="<%= @jobpost.id %>"><!-- Jobpost ID givrn as table ID -->
				<thead>
					<tr>
						<th>Name</th>
						<th>Course</th>
						<th>College</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @applications.each do |a| %>
						<% applicant = Student.find(a.student_id) %>
						<% course = Course.find(applicant.course_id) %>
						<% branch = Branch.find(applicant.branch_id) %>
						<% college = College.find(applicant.college_id) %>
						<tr class="student_info" id="<%= applicant.id %>"><!--student ID givrn as row ID -->
							<td><%= link_to applicant.first_name+" "+applicant.last_name, applicant, :target=>"_blank" %></td>
							<td><%= course.name %><small><%= "["+branch.name+"]" %></small></td>
							<td><%= college.college_name %></td>
							<td><%= applicant.email %></td>
							<td><%= applicant.phone_no %></td>
							<td width="60px" class="actions">
								<% if a.selected %>
									<a class="shortlist" data-toggle="tooltip" data-placement="top" title="shortlisted"><span class="fa fa-plus"></span></a>
									<a class="select" data-toggle="tooltip" data-placement="top" title="selected"><span class="fa fa-check"></span></a>
								<% elsif a.shortlisted > 0 %>
									<a class="shortlist" data-toggle="tooltip" data-placement="top" title="shortlised"><span class="fa fa-plus"></span></a>
									<a class="select undecided" data-toggle="tooltip" data-placement="top" title="select/finalize"><span class="fa fa-check"></span></a>
								<% else %>
									<a class="shortlist undecided" data-toggle="tooltip" data-placement="top" title="shortlist for next round"><span class="fa fa-plus"></span></a>
									<a class="select undecided" data-toggle="tooltip" data-placement="top" title="select/finalize"><span class="fa fa-check"></span></a>
								<% end %>
								<div class="ajax_overlay">
									<%= image_tag 'ajax-loader-blue.gif' %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p class="lead text-center">No records found<p>
		<% end %>
	</div>
</div>
<%= javascript_include_tag 'view_applicants' %>