@font-face {
  font-family: transformers_font;
  src: url(/assets/transformers-2af271370a2a2220905f05bb6a1ccf46.ttf);
}
/*@font-face{
	font-family:idealist;
	src:url(Idealist%20Sans.ttf);
	}*/
/* line 13, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
body {
  font-family: 'Lato', tahoma, sans-serif;
}

/* line 47, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.btn {
  border-radius: 0px;
}

/* line 50, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.btn.blue {
  background: #4bc4d4;
  color: #FFF;
  border: 1px solid #36bdcf;
}
/* line 30, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.btn.blue:hover {
  background: #74d1de;
  color: #FFF;
}

/* line 53, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.btn.green {
  background: #6fc99a;
  border: 1px solid #5cc28d;
  color: #FFF;
}
/* line 20, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.btn.green:hover {
  background: #5cc28d;
  border: 1px solid #4abb80;
  color: #FFF;
}

/* line 56, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
body {
  background: #FDFDFD;
}

/* line 59, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper {
  margin-bottom: 80px;
  min-height: 480px;
}

/* line 63, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar {
  background: #4bc4d4;
  z-index: 9999;
  color: #FFF;
  border: 1px solid #36bdcf;
  border-radius: 0px;
  margin-top: -1px;
}
/* line 71, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar h1.navbar-brand {
  font-family: transformers_font;
  font-size: 40px;
  padding: 12px 15px 10px 15px;
  margin: 0px;
  margin-right: 12px;
  background: #60cbd9;
  border-left: 1px solid #36bdcf;
  border-right: 1px solid #36bdcf;
}
/* line 81, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar h1.navbar-brand a {
  color: #FFF;
  font-weight: bold;
}
/* line 84, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar h1.navbar-brand a:hover {
  text-decoration: none;
}
/* line 89, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .navbar-toggle {
  border-radius: 0px;
  border-color: #EEE;
}
/* line 92, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .navbar-toggle span.icon-bar {
  background-color: #EEE;
}
/* line 95, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus {
  background: #74d1de;
}
/* line 99, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav {
  width: 90%;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 105, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li {
  margin-bottom: 0px;
  margin: 0px;
}
/* line 108, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li:hover {
  background: #74d1de;
}
/* line 111, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li a {
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 116, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li a img {
  border: 1px solid #36bdcf;
  height: 17px;
  width: 17px;
  margin: 0px;
}
/* line 124, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.search_form {
  display: inline-block;
  margin-top: 10px;
  position: relative;
}
/* line 129, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.search_form:hover {
  background: #4bc4d4;
}
/* line 133, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.search_form input.form-control {
  height: 30px;
  border-radius: 2px;
  border: 1px solid #43c1d2;
  background: rgba(240, 240, 240, 0.1);
  color: #FFF;
  box-shadow: 0px 0px 0px 0px;
}
/* line 141, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.search_form input.form-control:focus {
  box-shadow: 0px 0px 0px;
}
/* line 146, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.search_form button.btn {
  position: absolute;
  right: 15px;
  top: 1px;
  color: #FFF;
  border-radius: 0px 2px 2px 0px;
  background: #74d1de;
  border: 0px solid #FFf;
  border-left: 1px solid #43c1d2;
  border-right: 1px solid #43c1d2;
}
/* line 158, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container {
  position: relative;
  float: right;
}
/* line 162, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container:hover ul.dropdown_list {
  display: block;
}
/* line 166, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list {
  display: none;
  position: absolute;
  text-align: left;
  width: 200px;
  left: -1px;
  margin-top: 0px;
  border: 1px solid #CCC;
  border-top: 1px solid #36bdcf;
  background: #FFF;
}
/* line 176, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li {
  padding: 10px 12px;
}
/* line 179, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li:hover a {
  color: #FFF;
}
/* line 183, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li a {
  padding: 10px 12px;
  padding-right: 40px;
  color: #666;
}
/* line 187, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li a:hover {
  text-decoration: none;
}
/* line 192, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li.divider {
  width: 185px;
  height: 0px;
  padding: 0px;
  margin: 0 auto;
  border-bottom: 1px solid #CCC;
}
/* line 199, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.dropdown_container ul.dropdown_list li.arrow_up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFF;
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: -5px;
  left: 10px;
}
/* line 209, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
nav.navbar .nav.navbar-nav li.divider {
  height: 20px;
  margin-top: 17px;
  border-left: 1px solid #30b9cb;
}

/* line 217, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper {
  position: relative;
  margin-top: 20px;
  /*border-left:1px solid #EEE;
  border-right:1px solid #EEE;*/
}
/* line 222, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row {
  margin-top: 30px;
}
/* line 224, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .user_content_wrapper {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  text-align: center;
  word-wrap: break-word;
}
/* line 230, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .user_content_wrapper .user_pic_container {
  width: 100%;
  height: 130px;
  margin-bottom: 20px;
}
/* line 234, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .user_content_wrapper .user_pic_container .user_pic {
  width: 100%;
  height: 100%;
  border: 1px solid #EAEAEA;
  background-size: cover !important;
  background-position: center !important;
}
/* line 242, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .user_content_wrapper a.tpo_name {
  margin-bottom: 20px;
}
/* line 245, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .user_content_wrapper a.btn {
  margin-top: 10px;
  font-size: 15px;
  border-radius: 0px;
}
/* line 251, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .dynamic_content_wrapper {
  margin-top: 20px;
}
/* line 254, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .adv_wrapper {
  margin-top: 20px;
}
/* line 256, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .adv_wrapper .advertisement {
  background: #EEE;
  border: 1px solid #CCC;
  width: 100%;
  text-align: center;
  height: 160px;
  margin-bottom: 20px;
}
/* line 263, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.content_wrapper .row.content_row .adv_wrapper .advertisement p {
  margin-top: 70px;
  color: #222;
}

/* line 273, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.terminate {
  position: absolute;
  top: 13px;
  right: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: light;
}

/* line 281, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.flash_wrapper .alert {
  border-radius: 0px;
}

/* line 285, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.pagination_container {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
}
/* line 290, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.pagination_container span {
  padding: 10px;
  background: #FFF;
  border: 1px solid #EAEAEA;
}
/* line 295, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.pagination_container span.page.gap, .pagination_container span.first, .pagination_container span.last {
  display: none;
}
/* line 298, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.pagination_container span.prev {
  border-right: 0px solid #EAEAEA;
}
/* line 301, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.pagination_container span.next {
  border-left: 0px solid #EAEAEA;
}

/* line 306, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
footer {
  text-align: center;
  background: #FFF;
}
/* line 309, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
footer .container {
  border-top: 1px solid #EAEAEA;
  padding: 15px 10px;
  color: #666;
}

/* line 316, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.form-control.invalid_input_field {
  background: rgba(196, 30, 58, 0.3) !important;
  border: 1px solid #820000 !important;
}

/* line 321, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.ajax_overlay_container {
  position: relative;
}
/* line 323, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.ajax_overlay_container .ajax_overlay {
  background: #FFF;
  height: 200%;
  width: 100%;
  position: absolute;
  display: none;
}
/* line 329, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.ajax_overlay_container .ajax_overlay img {
  position: absolute;
  left: 45%;
  top: 12px;
}

/* line 337, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
#page_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0px;
  background: #FAFAFA;
  display: none;
}
/* line 345, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
#page_loader .loading_text {
  position: fixed;
  top: 62%;
  width: 100%;
  text-align: center;
  color: #555;
  font-size: 24px;
}

/* line 355, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #888 !important;
}

/* line 358, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #DDD;
  opacity: 1;
}

/* line 362, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #DDD;
  opacity: 1;
}

/* line 366, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #DDD;
}

@media all and (max-width: 767px) {
  /* line 371, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav {
    margin-top: 50px;
    text-align: center;
    width: 105% !important;
    overflow: auto;
    overflow-x: hidden;
    border-top: 1px solid #36bdcf;
  }
  /* line 378, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li {
    float: none !important;
    margin-bottom: 5px;
  }
  /* line 384, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li ul.dropdown_list {
    display: block !important;
    position: static !important;
    width: 100% !important;
  }
  /* line 388, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li ul.dropdown_list li.arrow_up {
    display: none;
  }
  /* line 391, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li ul.dropdown_list li {
    border-bottom-width: 0px;
  }
  /* line 393, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li ul.dropdown_list li a {
    padding-right: 100% !important;
  }
  /* line 397, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li ul.dropdown_list li.divider {
    display: block;
  }
  /* line 402, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  ul.navbar-nav.nav li.divider {
    display: none;
  }
}
@media print {
  /* line 408, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
  footer {
    display: none;
  }
}
/* line 423, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.page_loader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

/* line 435, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.spinner {
  position: relative;
}
/* line 438, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.spinner:before, .spinner:after {
  content: '';
  position: relative;
  display: block;
}
/* line 445, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #4bc4d4;
  background: #4bc4d4;
}
/* line 456, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/logged_in.css.scss */
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -.5em;
  height: .25em;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
@-webkit-keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@-webkit-keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
@-moz-keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@-moz-keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
