/* line 23, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.btn.blue {
  background: #4bc4d4;
  color: #FFF;
  border: 1px solid #36bdcf;
}
/* line 8, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.btn.blue:hover {
  background: #74d1de;
  color: #FFF;
}

/* line 26, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.btn.green {
  background: #6fc99a;
  border: 1px solid #5cc28d;
  color: #FFF;
}
/* line 17, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.btn.green:hover {
  background: #5cc28d;
  border: 1px solid #4abb80;
  color: #FFF;
}

@font-face {
  font-family: transformers_font;
  src: url(/assets/transformers-2af271370a2a2220905f05bb6a1ccf46.ttf);
}
@font-face {
  font-family: icons;
  src: url(/assets/socicon-5ad03f0e0935fea7128cada3ae681d32.ttf);
}
/*@font-face{
	font-family:idealist;
	src:url(Idealist%20Sans.ttf);
	}*/
/* line 41, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 46, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
body {
  overflow-x: hidden;
  font-family: 'Lato', idealist, tahoma;
}

/* line 50, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.body_wrapper {
  color: #FFF;
  font-family: 'Lato', idealist, tahoma;
}

/* line 54, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
a:hover {
  text-decoration: none;
}

/* line 57, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar.navbar-default {
  background: rgba(255, 255, 255, 0);
  border: 0px;
  box-shadow: 0px 0px;
}

/* line 63, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar navbar-toggle:hover, .navbar navbar-toggle:focus {
  background: #2eaebe !important;
}

/* line 67, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar .navbar-brand {
  margin-top: 0px;
  margin-bottom: 1px;
  font-family: transformers_font;
  font-size: 28px;
}

/* line 73, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar-brand a {
  color: #FFF;
}

/* line 76, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar-brand a:hover {
  color: #FFF;
  text-decoration: none;
}

/* line 80, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar-brand a:focus {
  color: #FAFAFA;
  text-decoration: none;
}

/* line 84, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar-brand a span {
  font-size: 46px;
}

/* line 87, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav a {
  color: #FFF;
}

/* line 90, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav li a {
  z-index: 3;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/* line 96, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav li a.login_link {
  font-weight: bolder;
}

/* line 99, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav li span {
  background: rgba(63, 183, 121, 0.8);
  height: 0px;
  width: 100%;
  z-index: 2;
  border: 0px solid red;
  position: absolute;
  top: 0px;
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 111, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav li:hover span {
  height: 50px;
  /*box-shadow: inset 0 1px 6px -1px rgba(0,0,0,0.4),inset 0 -1px rgba(0,0,0,0.6),1px 0 rgba(0,0,0,0.6),-1px 0 rgba(0,0,0,0.6);*/
  -webkit-transition: height 300ms ease-in-out;
  -moz-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
}

/* line 118, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#primary_nav li:hover a {
  color: #FFF;
  border-bottom: 1px solid #4abb80;
  /*#6A6A6A;*/
  -webkit-transition: all 900ms ease-in-out;
  -moz-transition: all 900ms ease-in-out;
  transition: all 900ms, border-bottom ease-in-out;
}

/* line 125, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar .navbar-toggle {
  border-radius: 0px;
}
/* line 127, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar .navbar-toggle span {
  background-color: #EEE !important;
}
/* line 130, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background: rgba(0, 0, 0, 0.2) !important;
}

/* line 134, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.intro_wrapper {
  background-color: #2daebf;
  background-image: url(/assets/bg-2fa6685ac8cf7a5e0e73261f9fbe903b.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
}

/* line 146, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.window_span {
  width: 100%;
  height: 643px;
}

/* line 150, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.intro_wrapper .container {
  position: relative;
}

/* line 153, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.intro_wrapper_overlay {
  position: absolute;
  background: linear-gradient(-45deg, #7abdc4 0%, #4f648d 100%);
  /*image-url('new_ie.png'); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: .5;
  width: 100%;
}

/* line 163, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.intro_wrapper .container {
  text-align: center;
  overflow-y: hidden;
}

/* line 167, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction {
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 32%;
  z-index: 99;
}

/* line 175, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction p {
  font-size: 22px;
}

/* line 178, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction .btn {
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  position: relative;
  border-radius: 0px;
  z-index: 2;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  transition: background 300ms ease;
}

/*.introduction .btn:hover{
	background:rgba(63, 183, 121, .8);
	border:1px solid #FFF;
	-webkit-transition:background 300ms ease;
	-moz-transition:background 300ms ease;
	transition:background 300ms ease;
	}*/
/* line 195, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction .btn:hover, .introduction .btn:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
}

/* line 199, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.sign_hover_span {
  height: 100%;
  width: 0px;
  background: rgba(63, 183, 121, 0.8);
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 211, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction .btn:hover .sign_hover_span {
  width: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 217, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container {
  text-align: center;
  position: relative;
  top: 34%;
  transform: translateY(-30%);
}

/* line 223, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container p {
  font-size: 22px;
  margin-bottom: 30px;
}

/* line 227, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content {
  width: 100%;
  text-align: center;
  z-index: 2;
  -webkit-animation-delay: 200ms;
}

/* line 233, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content form {
  width: 420px;
  text-align: left;
  margin: 0 auto;
}

/* line 238, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content input {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.2);
  border-color: #6A6A6A;
  color: #EEE;
  font-weight: bold;
  transition: 500ms background ease;
}

/* line 246, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content input:focus, .form_container .form_content select:focus {
  background: rgba(0, 0, 0, 0.5);
  transition: 500ms background ease;
}

/* line 250, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.introduction, .signup_form_container, .login_form_container, .forgot_password_form_container {
  display: none;
  overflow: hidden;
  z-index: 2;
}

/* line 255, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.curr_active {
  display: block;
}

/* line 258, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content select {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.2);
  border-color: #6A6A6A;
  font-weight: bold;
  color: #EEE;
  transition: 500ms background ease;
}

/* line 265, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content select option {
  background: rgba(0, 0, 0, 0.6);
}

/* line 268, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content .btn {
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  position: relative;
  border-radius: 0px;
  border-color: #6A6A6A;
  float: right;
}

/* line 276, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.forgot_pass_link, .redirect_links {
  float: left;
  color: #CCC;
}

/* line 280, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.forgot_pass_link a, .redirect_links a {
  color: #CCC;
}

/* line 283, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.forgot_pass_link a:hover, .redirect_links a:hover {
  color: #CCC;
  text-decoration: none;
}

/* line 287, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.login_form_container .login_form .sign_up_btn {
  background: rgba(0, 0, 0, 0.2);
  color: #FFF;
  position: relative;
  border-radius: 0px;
  border-color: #6A6A6A;
  float: right;
}

/* line 295, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content .submit_btn_wrapper {
  position: relative;
  border: 0px solid #CCC;
  background: transparent;
}

/* line 300, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content .submit_btn_wrapper .hover_span {
  height: 100%;
  width: 0px;
  background: rgba(63, 183, 121, 0.8);
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 312, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content .submit_btn_wrapper .btn {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #6A6A6A;
}

/* line 321, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content label {
  font-weight: bolder;
  font-size: 15px;
}

/* line 325, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content .btn:hover span.hover_span {
  width: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 331, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_container .form_content span.forgot_password_note {
  margin-top: -20px;
  margin-bottom: 20px;
}

/* line 335, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
footer {
  width: 100%;
  bottom: 15px;
  position: absolute;
  z-index: 0;
}

/* line 341, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
footer .container {
  position: relative;
}

/* line 344, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.copyright {
  position: absolute;
  left: 0;
  bottom: 20px;
  display: inline;
  padding: 0px;
}

/* line 351, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links {
  display: inline;
  text-align: center;
  padding: 0px;
}

/* line 356, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links div {
  display: inline-block;
  font-family: icons;
  height: auto;
  font-size: 22px;
}

/* line 362, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links a {
  color: #FFF;
  margin-left: 2px;
  position: relative;
  padding: 10px;
  z-index: 2;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #6A6A6A;
  /*rgb(204, 204, 204);*/
}

/* line 372, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links a:hover {
  color: #FFF;
  text-decoration: none;
}

/* line 376, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links div a span {
  width: 100%;
  height: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 387, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.social_links div:hover a span {
  height: 100%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* line 393, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.fb_hover_span {
  background: rgba(64, 93, 155, 0.8);
}

/* line 396, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.tw_hover_span {
  background: rgba(85, 172, 238, 0.8);
}

/* line 399, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.li_hover_span {
  background: rgba(0, 115, 178, 0.8);
}

/* line 403, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica {
  color: #555;
}
/* line 405, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_container {
  color: #FFF;
  height: 300px;
  text-align: center;
  background-color: #4bc4d4;
  background: linear-gradient(-45deg, #7abdc4 0%, #4f648d 100%);
}
/* line 411, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_container p.lead {
  margin-top: 120px;
}
/* line 415, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_container_2 {
  background-color: #555;
  background: linear-gradient(-45deg, #4f648d 0%, #222 100%);
}
/* line 419, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description {
  color: #555;
}
/* line 421, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules {
  margin-bottom: 80px;
  margin-top: -80px;
}
/* line 424, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module {
  background: #FFF;
  border: 1px solid #EAEAEA;
  transition: transform 900ms ease;
  /*&:hover{
  	background:#FCFCFC;
  	transform: translateY(-10px);
  	transition: transform 900ms ease; 
  }*/
}
/* line 433, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_heading {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px solid #FAFAFA;
  margin-bottom: 10px;
}
/* line 440, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_heading b.lead {
  font-family: transformers_font;
  font-size: 30px;
}
/* line 445, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_description {
  padding: 10px 10px;
}
/* line 448, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_description ul li {
  padding: 10px 5px;
  font-size: 15px;
  border-bottom: 1px solid #FDFDFD;
}
/* line 453, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_description ul li:nth-child(even) {
  background: #FAFAFA;
}
/* line 458, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_signup_btn {
  padding: 10px;
  border-bottom: 1px solid #FAFAFA;
}
/* line 461, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_description .all_modules .module .module_signup_btn .btn {
  border-radius: 0px;
}
/* line 468, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team {
  padding-top: 50px;
  background: #FAFAFA;
}
/* line 471, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team h1 {
  margin-bottom: 50px;
}
/* line 474, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team .row {
  margin-bottom: 50px;
}
/* line 476, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team .row .member_pic {
  text-align: center;
}
/* line 478, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team .row .member_pic #my_pic {
  border: 1px solid #FAFAFA;
  background: url(/assets/me_founder_developer-a7e1e39def6e2ad945d6aa52d1e19a10.jpg);
  background-size: cover;
  background-position: center;
  height: 165px;
}
/* line 488, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team .row .about_member p.lead.member_name {
  font-size: 32px;
}
/* line 490, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .team .row .about_member p.lead.member_name small {
  color: #CCC;
  font-size: 15px;
}
/* line 498, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .contact_us {
  margin-top: 50px;
  margin-bottom: 50px;
}
/* line 501, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .contact_us h1 {
  margin-bottom: 50px;
}
/* line 505, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.about_simplifica .about_footer {
  background: #555;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #FFF;
}

@media all and (max-width: 767px) {
  /* line 514, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  h1.navbar-brand {
    float: none;
  }

  /* line 517, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav {
    float: none;
    position: absolute;
    left: 0;
    width: 110%;
    margin-top: 0px;
    border: 0px solid #FFF;
    background: #74d1de;
  }
  /* line 525, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav li {
    display: block;
  }
  /* line 527, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav li:hover {
    background: #6fc99a;
  }
  /* line 530, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav li:hover span {
    display: none;
  }
  /* line 533, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav li:hover a {
    border-bottom: 0px solid #FFF;
  }
  /* line 536, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  ul.navbar-nav li span.icon-bar {
    color: #FFF;
  }

  /* line 542, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .about_description .module {
    margin-bottom: 20px;
  }

  /* line 546, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container {
    width: 95%;
    text-align: center;
    margin: 0 auto;
  }

  /* line 551, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container div, .form_container input.form-control, .form_container select.form-control {
    width: 100% !important;
  }

  /* line 555, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container .redirect_links, .form_container .btn {
    display: block;
    float: left;
    width: 90%;
    clear: both;
  }

  /* line 561, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container .btn {
    float: left !important;
    width: 50%;
  }
}
@media all and (max-width: 420px) {
  /* line 568, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container {
    width: 95% !important;
    margin: 0 auto;
    text-align: center;
  }

  /* line 573, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container .form-group {
    width: 80% !important;
  }

  /* line 576, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container div, .form_container input.form-control, .form_container select.form-control {
    width: 100% !important;
  }

  /* line 579, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container .redirect_links, .form_container .btn {
    display: block;
    float: left !important;
    width: 100% !important;
    clear: both;
  }

  /* line 585, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  .form_container .btn {
    float: left !important;
    width: 85% !important;
  }

  /* line 589, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
  footer {
    display: none !important;
  }
}
/* line 593, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #AEAEAE !important;
}

/* line 596, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #AEAEAE;
  opacity: 1;
}

/* line 600, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #AEAEAE;
  opacity: 1;
}

/* line 604, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #AEAEAE;
}

/* line 608, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_content .error_explaination {
  border-radius: 0px;
  color: #C41E3A;
}

/* line 612, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_content #error_explaination div.alert.alert-danger, .alert.alert-danger {
  border-radius: 0px;
  border: 1px solid #C41E3A;
  color: #EEE;
  background: rgba(196, 30, 58, 0.6);
  text-align: center;
}

/* line 619, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form_content #error_explaination ul.error_list li, ul.error_list li {
  color: #C41E3A;
}

/* line 622, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.alert-danger {
  border-radius: 0px;
  border: 1px solid #C41E3A;
  color: #EEE;
  background: rgba(196, 30, 58, 0.6);
  text-align: center;
}

/* line 629, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.alert-success {
  color: #EEE;
  background: rgba(0, 127, 0, 0.6);
  border-radius: 0px;
  border: 1px solid #007F00;
  text-align: center;
}

/* line 636, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.index_alert {
  margin: 0 auto;
  margin-top: 100px;
  width: 600px;
  text-align: center;
}

/* line 642, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.alert-info.activation_alert.alert {
  color: #EEE;
  background: rgba(63, 183, 121, 0.6);
  border-radius: 0px;
  border: 1px solid #3fb779;
  margin: 0 auto;
  width: 600px;
  text-align: center;
}

/* line 651, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.forgot_password_form_container .alert, .resend_activation_form_container .alert {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

/* line 657, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.index_alert {
  z-index: 1;
  position: absolute;
  text-align: center;
  left: 50%;
  margin-left: -300px;
  width: 600px;
}

/* line 665, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.cbox input {
  transform: translateY(2px);
}

/* line 668, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.cbox span {
  font-weight: normal;
  margin-left: 1px;
  font-size: 14px;
}

/* line 673, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.form-control.invalid_input_field {
  background: rgba(196, 30, 58, 0.3) !important;
  border: 1px solid #820000 !important;
}

/* line 678, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.ajax_overlay_container {
  position: relative;
}
/* line 680, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.ajax_overlay_container .ajax_overlay {
  background: #222;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}
/* line 686, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.ajax_overlay_container .ajax_overlay img {
  position: absolute;
  left: 45%;
  top: 12px;
}

/* line 693, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#page_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #4bc4d4;
  background: linear-gradient(-45deg, #7abdc4 0%, #4f648d 100%);
  top: 0px;
  display: none;
}
/* line 702, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
#page_loader .loading_text {
  position: fixed;
  top: 62%;
  width: 100%;
  text-align: center;
  font-family: transformers_font;
  color: #FFF;
  font-size: 24px;
}

/* line 723, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.page_loader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
}

/* line 735, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.spinner {
  position: relative;
}
/* line 738, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.spinner:before, .spinner:after {
  content: '';
  position: relative;
  display: block;
}
/* line 745, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  border: 1px solid #4bc4d4;
  background: #4bc4d4;
}
/* line 756, E:/RailsProjects/simplifica 2/opal/app/assets/stylesheets/style.css.scss */
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  -webkit-animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -.5em;
  height: .25em;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
@-webkit-keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@-webkit-keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
@-moz-keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@-moz-keyframes shadow {
  50% {
    transform: scale(0.5);
    border-color: rgba(0, 0, 0, 0.6);
  }
}
