<%= form_for(@tpo) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form-group">
        <%= f.label :email, :class => "control-label" %>
        <%= f.email_field :email, :class => "form-control", :placeholder => "Eg.: username@example.com" %>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <%= f.label :first_name, :class => "control-label" %>
                <%= f.text_field :first_name, :class => "form-control", :placeholder => "First Name" %>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <%= f.label :last_name, :class => "control-label" %>
                <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last Name" %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="form-group">
                <%= f.label :college, :class => "control-label" %>
                <%= f.text_field :college, :class => "form-control", :placeholder => "Full Name of College, Location" %>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group">
                <%= f.label :location_id, :class => "control-label" %>
                <%= f.collection_select(:location_id, Location.all, :id, :location, {}, {:class=>'form-control'}) %>
            </div>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :phone_no, :class => "control-label" %>
        <%= f.text_field :phone_no, :class => "form-control", :placeholder => "We'll contact you on this no. for verification" %>
    </div>
    <div class="form-group">
        <%= f.label :password, :class => "control-label" %>
        <%= f.password_field :password, :class => "form-control", :placeholder => "Your Profile Password", :autocomplete => "off" %>
    </div>
    <div class="redirect_links">
    	<%= link_to "SignUp as Student", new_student_path %> | 
        <%= link_to "Already Signed Up?", new_session_path %>
    </div>
    <div class="submit_btn_wrapper btn btn-lg"><span style="visibility:hidden">Sign Up</span>
        <%= f.submit "Sign Up", :class => "btn btn-default btn-lg sign_up_btn" %>
        <span class="hover_span"></span>
    </div>
<% end %>