<div class="col-lg-2 col-md-2 col-sm-2 user_content_wrapper tpo_sidebar hidden-xs">
	<div class="user_pic_container">
		<div class="user_pic" style="background:url('<%= @tpo.image_url.nil? ? image_url('default_user.jpg') : image_url(@tpo.image_url.to_s) %>')">

		</div>
	</div>
		<%= link_to @tpo, :class=>"tpo_name" do %>
			<%= @tpo.first_name %> <%= @tpo.last_name %>
		<% end %>
		<% if current_user.user_type == 2 %>
			<div class="tpo_contact_info">
				<span class="divider"></span>
				<p class="text-center"><%= @tpo.email %></p>
				<% unless @tpo.phone_no.nil? %>
					<span class="divider"></span> 
					<p class="text-center"><span class="fa fa-phone"></span> <%= @tpo.phone_no %></p>
				<% end %>
				<!-- Add phone no. -->
				<!--<p><span class="fa fa-phone"></span><br/></p>-->
				<span class="divider"></span>
			</div>
		<% end %>
		<% if @tpo.email == current_user.email %>
			<%= link_to new_jobpost_path, :class => "btn btn-block blue" do %>
				<span class="fa fa-plus"> </span> Post a Job
			<% end %>
		<% end %>
</div>