<% provide(:title, @tpo.first_name.to_s+" "+@tpo.last_name.to_s+" | Edit Profile") %>
<div class="row">
	<%= render 'tpo_sidebar' %>
	<div class="col-lg-10 col-md-10 col-sm-10 main_content">
		<div class="tpo_edit_form_container">
			<div class="tpo_edit_form">
				<h3>Update Your Profile</h3>
				<%= form_for @tpo, :html =>{:multipart => true} do |f| %>
				    <%= render 'shared/error_messages', object: f.object %>
				    <div class="form-group">
				        <%= f.label :image, :class => "control-label" do %>
				        	Profile Picture
				        <% end %><br/>
				        <!--<input id="uploadFile" placeholder="Choose File" class="form-control" disabled="disabled" />
						<div class="fileUpload btn btn-primary">
						    <span>Upload</span>
						    <input id="uploadBtn" type="file" class="upload" />
						</div>-->
				        <%= f.file_field :image, :class => "btn-link" %>
				    </div>
				    <div class="form-group">
				        <%= f.label :email, :class => "control-label" %>
				        <%= f.email_field :email, :class => "form-control", :placeholder => "Eg.: username@example.com", :disabled => "true" %>
				    </div>
				    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <%= f.label :first_name, :class => "control-label" %>
                                <%= f.text_field :first_name, :class => "form-control", :placeholder => "Your First Name" %>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <%= f.label :last_name, :class => "control-label" %>
                                <%= f.text_field :last_name, :class => "form-control", :placeholder => "Your Last Name"%>
                            </div>
                        </div>
                    </div>
                    <div class="row">
	                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						    <div class="form-group">
						        <%= f.label :college, :class => "control-label" %>
						        <%= f.text_field :college, :class=>'form-control', :placeholder => "College Name" %>
						    </div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="form-group">
				                <%= f.label :location_id, :class => "control-label" %>
				                <%= f.collection_select(:location_id, Location.all, :id, :location, {}, {:class=>'form-control'}) %>
				            </div>
						</div>
					</div>
				    <div class="form-group">
                        <%= f.label :job_title, :class => "control-label" %>
                        <%= f.text_field :job_title, :class => "form-control", :placeholder => "Your Job Title"%>
                    </div>
                    <div class="form-group">
				        <%= f.label :phone_no, :class => "control-label" %>
				        <%= f.text_field :phone_no, :class=>'form-control', :placeholder => "Phone No." %>
				    </div>
				    <div class="form-group">
				        <%= f.label :password, :class => "control-label" %>
				        <%= f.password_field :password, :class => "form-control", :placeholder => "(Unchanged)" %>
				    </div>
				    <%= f.submit "Update", :class => "btn btn-default btn-lg sign_up_btn pull-right" %>
				    
				<% end %>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag 'tpos' %>