<% provide(:title, 'All Tpos') %>
<h1 class="text-center">All Tpos <small>[<%= pluralize(@tpos.count, " Tpo") %>]</small></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email ID</th>
      <th>Phone no.</th>
      <th>College</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @tpos.each do |tpo| %>
    <tr>
      <td><%= link_to tpo.first_name+" "+tpo.last_name, tpo_path(tpo) %></td>
      <td><%= tpo.email %></td>
      <td><%= tpo.phone_no %></td>
      <td><%= tpo.college %></td>
      <td>
        <% if tpo.activated %>
          Activated
        <% else %>
          <%= link_to "Activate", activate_tpo_path(tpo_id: tpo.id), method: :post %>
        <% end %>
      </td>
      <% if current_user.admin? %>
    	 <td><%= link_to "delete", tpo, method: :delete, data: { confirm: "You sure?" } %></td>
  	  <% end %>
    </tr>
  <% end %>
</table>