<% provide(:title, @tpo.first_name.to_s+" "+@tpo.last_name.to_s) %>
<div class="row">
	<%= render 'tpo_sidebar' %>
	<div class="col-lg-10 col-md-10 col-sm-10 main_content">
		<% if @jobposts.any? %>
			<div class="pagination_container">
				<%= paginate @jobposts, :window => 0 %>
			</div>
		  <ul class="list-unstyled jobposts_list">
		  	<li class="lead jobposts_count">
		  		<%= current_user == @tpo ? "My" : @tpo.first_name+"'s" %> Jobposts [<%= @jobposts.count %>]
		  		<small class="pull-right">[<%= @tpo.college %>]</small>
		  	</li>
		    <%= render @jobposts %>
		  </ul>
		  <% else %>
		  	<div class="no_posts_note">
			  	<% if current_user == @tpo %>
			  		<p class="lead">You havn't posted any jobs yet click the button below to create a jobpost</p>
			  		<%= link_to new_jobpost_path, :class => "btn blue btn-lg" do %>
			  			<span class="fa fa-plus"></span> Post a new Job
			  		<% end %> 
			  	<% else %>
			  		<% if current_user.college_id == @tpo.college_id %>
			  			<p class="lead"><%= @tpo.first_name %> hasn't posted any jobs yet.</p>
			  		<% else %>
			  			<p class="lead"><%= @tpo.first_name %> hasn't posted any Off campus or Walk-in opportunties yet.</p>
			  		<% end %> 
			  	<% end %>
			</div>
		<% end %>
	</div>
</div>