<% provide(:title, "About Us") %>
<div class="about_simplifica" id="replaceable">
	<div class="about_container">
		<div class="container">
			<p class="lead">
				<sup class="fa fa-quote-left"></sup> 
				<i>We are here to make the process of placements hassle free for colleges, companies and students.</i> 
				<sup class="fa fa-quote-right"></sup>
			</p>
		</div>
	</div>
	<div class="container about_description">
		<div class="row all_modules">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="module">
					<div class="module_heading">
						Simplifica for<br/>
						<b class="lead">Colleges</b>
					</div>
					<div class="module_description">
						<ul class="list list-unstyled">
							<li>Sign up with us, start posting Jobs.</li>	
							<li>Once a Job is posted, eligible students from your college are notified about the same via email.</li>	
							<li>Students can apply only if the meet eligibility criterion for the job.</li>
							<li>View, shortlist and select applicants for any job you've posted.</li>
							<li>Applicants are notified if they are shortlisted or selected for a job.</li>	
						</ul>
					</div>
					<div class="module_signup_btn">
						<%= link_to new_tpo_path, :class=>"btn btn-block btn-lg green" do %>
							Sign Up 
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="module">
					<div class="module_heading">
						Simplifica for<br/>
						<b class="lead">Students</b>
					</div>
					<div class="module_description">
						<ul class="list list-unstyled">
							<li>Get notified about the upcoming campus drives.</li>	
							<li>Apply to drives while sitting at home.</li>	
							<li>Browse & apply to the off campus drives happening near you.</li>	
							<li>Get notified on shortlisting and selections.</li>	
							<li>Maintain a profile that includes all about you - Education, Experiences, Projects, Websites etc.</li>
							<li>Most importantly, get placed.</li>	
						</ul>
					</div>
					<div class="module_signup_btn">
						<%= link_to new_student_path, :class=>"btn btn-block btn-lg blue" do %>
							Sign Up
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="module">
					<div class="module_heading">
						Simplifica for<br/>
						<b class="lead">Companies</b>
					</div>
					<div class="module_description">
						<ul class="list list-unstyled">
							<li>Reach out to colleges for organizing placement drives for you.</li>	
							<li>Post Jobs for fresh graduates.</li>
							<li>View, shortlist and select applicants for any job you've posted.</li>	
							<li>Get candidate suggestions as per your requirements.</li>	
							<li>Applicants are notified if they are shortlisted or selected for a job.</li>	
						</ul>
					</div>
					<div class="module_signup_btn">
						<a class="btn btn-block btn-lg btn-default">
							Launching Soon
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about_container about_container_2">
		<div class="container">
			<p class="lead">
				<sup class="fa fa-quote-left"></sup> 
				<i>We developed simplifica to simplify the placement process on campus and to allow the students to discover various off campus drives happening near them so that they never miss out on an opportunity.</i>
				<sup class="fa fa-quote-right"></sup>
			</p>
		</div>
	</div>
	<div class="team">
		<div class="container">
			<h1 class="text-center">
				The Team
			</h1>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 member_pic">
					<div id="my_pic"></div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-8 col-xs-8 about_member">
					<p class="lead member_name">Fauzan Khan<small> [Founder|Developer]</small></p>
					<p>Fauzan, a final year computer science undergrad at IEC College of Engineering & Technology was left heart broken when he came to know that he has missed an off campus drive held by one of his dream companies right next to his college. Being a tech guy, he converted his grief into an idea and developed an online platform that not only allows students to browse through and apply to various off campus drives happening across India but also serves as a full-fledged, in house placement portal for colleges.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="contact_us">
		<div class="container" id="contact_us">
			<h1 class="text-center">
				Contact Us
			</h1>
			<p class="lead text-center">We'd love to hear from you!<br/>Drop us a line at <b>support@simplifica.co.in</b></p>
		</div>
	</div>
	<div class="about_footer">
		<div class="container">
			<p class="pull-left">copyright &copy; simplifica.com</p>
			<div class="social_links pull-right">
	            <div class="fb"><a href="#">b<span class="fb_hover_span"></span></a></div>
	            <div class="tw"><a href="#">a<span class="tw_hover_span"></span></a></div>
	            <div class="li"><a href="#">j<span class="li_hover_span"></span></a></div>
	        </div>
		</div>
	</div>
</div>