<p>Hi <%= @applicant.first_name %>,</p>

<p>
	<%= @tpo.first_name+" "+@tpo.last_name %> has sent you the following message regarding your application for <%= @jobpost.position+" at "+@jobpost.company %>:<br />
	"<%= @jobpost.notification_mailer %>"<br/>
	You can reply to this mail to continue this conversation with <%= @tpo.first_name+" "+@tpo.last_name %>.
</p>
