// Place all the styles related to the Jobposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary_blue_prev : rgb(45, 174, 191);
$primary_blue : rgb(75, 196, 212);
$primary_green : rgb(111, 201, 154);
.jobpost_form_container{
	padding:40px;
	padding-bottom:100px;
	border:1px solid #EAEAEA;
	margin:0 auto;
	clear:both;
	background:#FFF;
	h3{
		text-align:center;
		color:#666;
		font-weight:bold;
		margin-bottom:40px;
	}
	.form-group{
		margin-bottom:30px;
		.form-control{
			border-radius:0px;
			border:1px solid #DDD;
			box-shadow:0px 0px 0px 0px;
		}
		.control-label{
			color:#666;
		}

		textarea{
			height:150px;
		}
		.form-control{
			color:#111;
		}
	}
	.btn{
		border-radius:0px;
		margin-bottom:40px;
	}
	label.checkbox-inline{
		.input{
			margin-left:-15px;
		}
		label{
			margin-right:15px;
			margin-left:-20px;
			display: inline;
		}
	}
	#select_all_courses_container{
		margin-left:10px;
		background:#F5F5F5;
		display:inline-block;
		padding:5px;
		border:1px solid #F0F0F0;
		opacity:.6;
		#select_all_courses{
			margin-top:2px;
		}
	}
	#select_all_branches_container{
		margin-left:10px;
		display:none;
		background:#F5F5F5;
		padding:5px;
		border:1px solid #F0F0F0;
		opacity:.6;
		#select_all_branches{
			margin-top:2px;
		}
	}
	.branches{
		padding-top:10px;
		border-bottom:1px solid #F5F5F5;
		padding-left:10px;
		label{
			margin-bottom: 1px;
		}
		b.course_name{
			
			display:block;
			font-size:13px;
		}
		&:nth-child(even){
			background:#FCFCFC;
		}
	}
}
.show_job_content{
	width:95%;
	background:#FFF;
	border:1px solid #EEE;
	clear:both;
	overflow:auto;
	margin:0 auto;
	padding:10px 20px;
	position:relative;
	.job_title{
		text-align:center;
		border-bottom:1px solid $primary_blue;
		font-weight:bold;
		color:#555;
		margin-bottom:40px;
	}
	.job_info{
		font-size:15px;
		line-height:160%;
		#eligibility_table{
			td.eligible_branches{
				span{
					padding:5px 10px;
					background:#FAFAFA;
					border:1px solid darken(#FAFAFA, 5%);
				}
			}
		}
	}
	.desc{
		margin-bottom:20px;
		margin-top:40px;
		overflow:auto;
		.desc_title{
			display:block;
			border-bottom:1px solid #EEE;
			margin-bottom:20px;
			h4{
				font-weight:bold;
				display:inline;
				border-bottom:3px solid $primary_blue;/*#5bc0de*/
				padding-left:10px;
				padding-right:15px;
				color:#555;
			}
		}

	}
	.actions{
			margin-top:40px;
			padding-top:20px;
			border-top:1px solid #EEE;
			display:block;
			text-align:right;
		}
}
.applications_container{
	background:#FFF;
	border:1px solid #EAEAEA;
	padding:20px;
	padding-bottom:50px;
	.heading_container{
		text-align: center;
		border-bottom:1px solid #EAEAEA;
		margin-bottom:20px;
	}
	.search_applicants{
		margin-bottom:20px;
		padding-bottom:20px;
		border-bottom:1px solid #EAEAEA;
		.form-control, .input-group-addon{
			border-radius: 0px;
		}
		.view_by_status{
			text-align: left;
			a.pull-right.btn{
				margin-left:2px;
			}
		}
	}
	.note_form{
		margin-top:10px;
		display:none;
		textarea{
			height:80px;
			margin-bottom:10px;
		}
		.applicants_selection{
			display:inline;
			.checkbox{
				display:inline;
				.checkbox-inline{
					margin-right:10px;
				}
			}
		}
		.action_buttons{
			display:inline;
			float:right;
		}
	}
	.application_table_container{
		.note{
			margin-bottom:20px;
		}
		thead{
			th{
				text-align:center;
			}
		}
		tbody{
			td.actions{
				position:relative;
				a.shortlist{
					background:$primary_blue;
					color:#FFF;
					padding:2px 5px;
				}
				a.select{
					background:$primary_green;
					color:#FFF;
					padding:2px 3px;
				}
				a.undecided{
					background:#AAA;
					cursor: pointer;
				}
				.ajax_overlay{
					position:absolute;
					left:0;
					top:0;
					text-align:center;
					background:#FAFAFA;
					padding-top:5px;
					width:100%;
					height:100%;
					display:none;
				}
			}
		}
	}
	.pagination_container{
		bottom:0px;
	}
}

.tooltip.fade{
	border-width:0px;
	background:rgba(0,0,0,0);
}

#jobpost_applicants_paginate{
	a{
	    padding: 10px;
	    border: 1px solid #EAEAEA;
	    cursor: pointer;
	    margin-left:5px;
	}
}

.branches_overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background:#FFF;
	display:none;
	z-index:9;
	img{
		position:absolute;
		top:48%;
		left:48%;
	}
}