$primary_blue_prev : rgb(45, 174, 191);
$primary_blue : rgb(75, 196, 212);
$primary_green : rgb(111, 201, 154);
$light_grey : #EAEAEA;
@font-face{
	font-family:transformers_font;
	src:font-url('transformers.ttf');
	}
/*@font-face{
	font-family:idealist;
	src:url(Idealist%20Sans.ttf);
	}*/
body{
	font-family: 'Lato', tahoma, sans-serif;
}
@mixin green_hover{
  	background:$primary_green;
  	border:1px solid darken($primary_green, 5%);
  	color:#FFF;
  	&:hover{
  		background:darken($primary_green,5%);
  		border:1px solid darken($primary_green, 10%);
  		color:#FFF;
  	};
}
@mixin blue_hover{
  	background:$primary_blue;
  	color:#FFF;
  	border:1px solid darken($primary_blue, 5%);
  	&:hover{
  		background:lighten($primary_blue,10%);
  		color:#FFF;
  	};
}
@mixin arrow_up{
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #FFF;
}
@mixin big_container{
	padding:20px;
	background:#FFF;
	border:1px solid #EAEAEA;
}
.btn{
	border-radius:0px;
}
.btn.blue{
	@include blue_hover;
}
.btn.green{
	@include green_hover;
}
body{
	background:#FDFDFD;
}
.content_wrapper{
	margin-bottom:80px;
	min-height:480px;
}
nav.navbar{
	background: $primary_blue;
	z-index:9999;
	color:#FFF;
	border:1px solid darken($primary_blue, 5%);
	border-radius:0px;
	margin-top:-1px;
	
	h1.navbar-brand{
		font-family:transformers_font;
		font-size:40px;
		padding:12px 15px 10px 15px;
		margin:0px;
		margin-right:12px;
		background:lighten($primary_blue, 5%);
		border-left:1px solid darken($primary_blue, 5%);
		border-right:1px solid darken($primary_blue, 5%);

		a{
			color:#FFF;
			font-weight:bold;
			&:hover{
				text-decoration:none;
			}
		}
	}
	.navbar-toggle{
		border-radius:0px;
		border-color:#EEE;
		span.icon-bar{
			background-color:#EEE;
		}
		&:hover, &:focus{
			background: lighten($primary_blue, 10%);
		}
	}
	.nav.navbar-nav{
		width:90%;
		text-align:center;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content: center;
		li{
			margin-bottom:0px;
			margin:0px;
			&:hover{
				background:lighten($primary_blue, 10%);
			};
			a{
				color:#FFF;
				padding-left:10px;
				padding-right:10px;

				img{
					border:1px solid darken($primary_blue, 5%);;
					height:17px;
					width:17px;
					margin:0px;
				}
			}
		}
		li.search_form{
			display:inline-block;
			margin-top:10px;
			position:relative;

			&:hover{
				background: $primary_blue;
			}

			input.form-control{
				height:30px;
				border-radius:2px;
				border:1px solid darken($primary_blue, 2%);
				background:rgba(240,240,240,0.1);
				color: #FFF;
				box-shadow:0px 0px 0px 0px;
				
				&:focus{
					box-shadow:0px 0px 0px;
				}
			}

			button.btn{
				position:absolute;
				right:15px;
				top:1px;
				color:#FFF;
				border-radius:0px 2px 2px 0px;
				background:lighten($primary_blue, 10%);
				border:0px solid #FFf;
				border-left:1px solid darken($primary_blue, 2%);
				border-right:1px solid darken($primary_blue, 2%);
			}	
		}
		li.dropdown_container{
			position:relative;
			float:right;
			&:hover{
				ul.dropdown_list{
					display:block;
				}
			};
			ul.dropdown_list{
				display:none;
				position:absolute;
				text-align:left;
				width:200px;
				left:-1px;
				margin-top:0px;
				border:1px solid #CCC;
				border-top:1px solid darken($primary_blue, 5%);
				background: #FFF;
				li{
					padding:10px 12px;
					&:hover{
						a{
						color:#FFF;
						}
					}
					a{	
						padding:10px 12px;
						padding-right:40px;
						color:#666;
						&:hover{
							text-decoration:none;
						}
					}
				}
				li.divider{
					width:185px;
					height:0px;
					padding:0px;
					margin:0 auto;
					border-bottom:1px solid #CCC;
				}
				li.arrow_up{
					@include arrow_up;
					padding:0px;
					margin:0px;
					position:absolute;
					top:-5px;
					left:10px;
				}
			}
		}
		li.divider{
			height:20px;
			margin-top:17px;
			border-left:1px solid darken($primary_blue, 7%);
		}

	}
}
.content_wrapper{
	position:relative;
	margin-top:20px;
	/*border-left:1px solid #EEE;
	border-right:1px solid #EEE;*/
	.row.content_row{
		margin-top:30px;
		.user_content_wrapper{
			margin-top:10px;
			font-size:18px;
			color:#333;
			text-align: center;
			word-wrap:break-word;
			.user_pic_container{
				width:100%;
				height:130px;
				margin-bottom:20px;
				.user_pic{
					width:100%;
					height:100%;
					border:1px solid #EAEAEA;
					background-size:cover !important;
					background-position:center !important;
				}
			}
			a.tpo_name{
				margin-bottom:20px;
			}
			a.btn{
				margin-top:10px;
				font-size:15px;
				border-radius:0px;
			}
		}
		.dynamic_content_wrapper{
			margin-top:20px;
		}
		.adv_wrapper{
			margin-top:20px;
			.advertisement{
				background:#EEE;
				border:1px solid #CCC;
				width:100%;
				text-align:center;
				height:160px;
				margin-bottom:20px;
				p{
					margin-top:70px;
					color:#222;
				}
			}
		}
	}

}

.terminate{
			position: absolute;
			top: 13px;
			right: 30px;
			color: rgba(0,0,0,0.5);
			font-weight:light;
		}
.flash_wrapper{
	.alert{
		border-radius:0px;
	}
}
.pagination_container{
	position: absolute;
	bottom:-50px;
	text-align:center;
	width:100%;
	span{
		padding:10px;
		background:#FFF;
		border:1px solid #EAEAEA;
	}
	span.page.gap, span.first, span.last{
		display:none;
	}
	span.prev{
		border-right:0px solid #EAEAEA;
	}
	span.next{
		border-left:0px solid #EAEAEA;
	}
}

footer{
	text-align:center;
	background:#FFF;
	.container{
		border-top:1px solid #EAEAEA;
		padding:15px 10px;
		color:#666;
	}
}

.form-control.invalid_input_field{
  	background: rgba(196, 30, 58, 0.3) !important;
  	border: 1px solid rgb(130,0,0) !important;
}

.ajax_overlay_container{
	position:relative;
	.ajax_overlay{
		background:#FFF;
		height:200%;
		width:100%;
		position:absolute;
		display:none;
		img{
			position:absolute;
			left:45%;
			top:12px;
		}
	}
}

#page_loader{
	position:fixed;
	width:100%;
	height:100%;
	text-align:center;
	top:0px;
	background:#FAFAFA;
	display:none;
	.loading_text{
		position:fixed;
		top:62%;
		width:100%;
		text-align:center;
		color:#555;
		font-size:24px;
	}
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888 !important;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #DDD;
   opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #DDD;
   opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #DDD;
}

@media all and (max-width: 767px){
	ul.navbar-nav.nav{
		margin-top:50px;
		text-align:center;
		width:105% !important;
		overflow:auto;
		overflow-x:hidden;
		border-top:1px solid darken($primary_blue, 5%);
		li{
			float:none !important;
			margin-bottom:5px;
			a{
				
			}
			ul.dropdown_list{
				display:block !important;
				position:static !important;
				width:100% !important;
				li.arrow_up{
					display:none;
				}
				li{
					border-bottom-width:0px;
					a{
					padding-right:100% !important;
					}
				}
				li.divider{
					display:block;
				}
			}
		}
		li.divider{
			display:none;
		}
	}
}
@media print{
	footer{
		display:none;
	}
}

// ----- Spinner ----- //

$spinner-duration: 2.5s;
$spinner-timing-function: cubic-bezier(0.750, 0.000, 0.500, 1.000);
$spinner-iteration-count: infinite;
$spinner-direction: normal;

// -------------------------------------
//   Base
// -------------------------------------
.page_loader_spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:64px;
}

// -------------------------------------
//   Spinner
// -------------------------------------

.spinner {
  position: relative;
  
  &:before,
  &:after {
    content: '';
    position: relative;
    display: block;
  }
  
  &:before {
    animation: spinner $spinner-duration $spinner-timing-function $spinner-iteration-count $spinner-direction;
    -webkit-animation: spinner $spinner-duration $spinner-timing-function $spinner-iteration-count $spinner-direction;
    width: 1em;
    height: 1em;
    border: 1px solid $primary_blue;
    background:$primary_blue
  }
  
  // ----- Shadow ----- //
  
  &:after {
    animation: shadow $spinner-duration $spinner-timing-function $spinner-iteration-count $spinner-direction;
    -webkit-animation: shadow $spinner-duration $spinner-timing-function $spinner-iteration-count $spinner-direction;
    bottom: -.5em;
    height: .25em;
    border-radius: 50%;
    background:rgba(0,0,0,0.6);
    border: 1px solid rgba(0,0,0,0.6);
  }
  
}

// -------------------------------------
//   Animations
// -------------------------------------

@keyframes spinner {
  
  50% { 
    border-radius: 50%;
    transform: scale(.5) rotate(360deg);
  }
  
  100% {
    transform: scale(1) rotate(720deg);
  }
  
}

@keyframes shadow {
  
  50% { 
    transform: scale(.5);
    border-color: darken(rgba(0,0,0,0.6), 10%);
  }
  
}

@-webkit-keyframes spinner {
  
  50% { 
    border-radius: 50%;
    transform: scale(.5) rotate(360deg);
  }
  
  100% {
    transform: scale(1) rotate(720deg);
  }
  
}

@-webkit-keyframes shadow {
  
  50% { 
    transform: scale(.5);
    border-color: darken(rgba(0,0,0,0.6), 10%);
  }
  
}

@-moz-keyframes spinner {
  
  50% { 
    border-radius: 50%;
    transform: scale(.5) rotate(360deg);
  }
  
  100% {
    transform: scale(1) rotate(720deg);
  }
  
}

@-moz-keyframes shadow {
  
  50% { 
    transform: scale(.5);
    border-color: darken(rgba(0,0,0,0.6), 10%);
  }
  
}