// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary_blue_prev : rgb(45, 174, 191);
$primary_blue : rgb(75, 196, 212);
$primary_green : rgb(111, 201, 154);
$light_border : #EAEAEA;
@mixin green_hover{
  	background:$primary_green;
  	color:#FFF;
  	border:1px solid darken($primary_green, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_green,10%);
  	};
}
@mixin blue_hover{
  	background:$primary_blue;
  	color:#FFF;
  	border:1px solid darken($primary_blue, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_blue,10%);
  	};
}
@mixin big_container{
	padding:20px;
	background:#FFF;
	border:1px solid $light_border;
}
$primary_blue : rgb(45, 174, 191);
$primary_green : rgb(111, 201, 154);
.student_sidebar.user_content_wrapper{
	padding:0px;
	.user_pic_container{
		text-align:center;
		width:99.8%;
		margin:1px;
		.user_pic{
			width:81% !important;
			margin:0 auto;
		}
	}
	.student_contact_info{
		text-align:center;
		p{
			padding:2px 3px 2px 6px;
			margin-bottom:5px;
			margin-top:5px;
			font-size:15px;
			color:#555;
			font-weight:bold;
			text-align:left;
			span.fa{
				font-size:15px;
				margin-right:3px;
				display:inline;
				color:#AAA;
			}
		}
		span.divider{
			display:block;
			width:80%;
			margin:0 auto;
			border-bottom:1px solid #EEE;
		}
		.student_web_links{
		text-align:center;
			a.btn.btn-sm{
				font-size:18px;
				margin-left:0;
				margin-right:0;
				padding:0px;
				span.fa{
					font-size:20px;
					color:#AAA;
				}
			}
		}
	}
}
.student_account_form_container{
	text-align:center;
	background:#FFF;
	border:1px solid $light_border;
	padding-bottom:60px;
	.student_account_form{
		width:500px;
		margin:0px auto;
		text-align:left;
		display: inline-block;

		h3{
			text-align:center;
			colr:#444;
		}

		form{
			.form-control{
				border-radius:0px;
			}
			.btn{
				border-radius:0px;
				@include blue_hover;
			}
		}
	}
}
.student_profile{
	width:98%;
	background:#FFF;
	border:1px solid $light_border;
	text-align:left;
	padding:2px 10px;
	margin:0 auto;
	padding-bottom:80px;
	.profile_edit_btn{
		a{
			margin-top:20px;
			margin-right:5px;
		}
	}
	.contact_info{
		color:#777;
		padding-top:10px;
		text-align:right;
		span.fa{
			color:#AAA;
		}
	}
	.divider{
		width:98%;
		height:1px;
		margin:0 auto;
		margin-bottom:10px;
		border-bottom:1px solid $light_border;
		clear:both;
	}
	.hor_divider{
		height:4px;
		margin-top:1px;
		width:1px;
		border-left:1px solid #DDD;
		padding:0px 5px;
	}
	.student_summary{
		td{
			border:4px solid #FFF;
			margin-right:2px;
			background:#F9F9F9;
			padding-left:15px;
			span.fa{
				width:25px;
			}
		}
	}
	.abot_stu{
		margin-top:30px;
		.heading_container{
			margin-bottom:10px;
			border-bottom:1px solid $light_border;
			h3{
				border-bottom:3px solid $primary_blue;
				display:inline;
				padding-left:5px;
				padding-right:15px;
			}
		}
		thead{
			font-weight:bold;
		}
		.experiences_tables{
			table{
				margin-bottom:10px;
				td{
					border:0px;
					border-bottom:1px solid #DDD;
				}
				.time_period{
					text-align:right;
					border-right:1px solid #DDD;
				}
			}
		}
		.projects_table{
			margin-bottom:10px;
			td:first{
				border-right:0px solid #DDD;
			}
		}
		.educations_table{
			text-align: center;
			td.institute{
				text-align: left;
			}
		}
	}
}
.student_profile_edit_container{
	background:#FFF;
	border:1px solid $light_border;
	text-align:center;
	position: relative;
	form{
		text-align:left;
		.form-control{
			border-radius:0px;
		}
		.student_image_upload{
			.pic_upload_container{
				height:130px;
				width:98%;
				margin:0 auto;
				margin-left:15px;
				text-align:center;
				position: relative;
				border:1px solid $light_border;
				overflow: hidden;
				background:#FAFAFA;
				background-size:cover;
				background-position:center;
				label{
					margin-top:-50px;
					width:100%
				}
				input{
					position: absolute;
					bottom:-10px;
					left:-78px;
					transform:translateY(-70px);
					-webkit-transform:translateY(-10px);
					font-size:12px;
					background:rgba(75,196,212,0.8);
					color:#FFF;
				}
				.upload_icon{
					font-size: 30px;
					color: #FFF;
					background: $primary_blue;
					width: 60px;
					padding: 5px 0px;
					margin: 0 auto;
					margin-top: 22%;
					background:rgba(75,196,212,0.8);
					border:1px solid $primary_blue;
					cursor:pointer;
				}
			}
			.social_profiles{
				margin-top:20px;
				.input-group{
					width:130px;
					margin-bottom:10px;
					.input-group-addon{
						border-radius:0px;
					}
				}
			}
		}
		.student_details{
			.student_info_element{
				margin-top:50px;
				margin-bottom:10px;
				.heading_container{
					display:block;
					margin-bottom:50px;
					border-bottom:1px solid $light_border;
					h4{
						padding-left:10px;
						padding-right:20px;
						border-bottom:3px solid $primary_blue;
						display:inline;
					}
				}
				.input-group-addon{
					border-radius:0px;
				}
			}
			table.current_education{
				margin-bottom:0px;
				.current_education_details{
					tr{
						border-bottom:0px solid $light_border;
					}
				}
			}
			table.prev_education{
				margin-top:0px;
				margin-bottom:10px;
				tr{
					border-bottom:1px solid $light_border;
					border-top:0px;
				}
			}
			#degree_limit_reached{
				display:none;
				color:red;
			}
			.experience_wrapper, .project_wrapper{
				#experience_limit_reached, #project_limit_reached{
					color:red;
					display:none;
				}
				.experience, .project{
					background:#FCFCFC;
					border:1px solid $light_border;
					overflow:auto;
					padding-top:30px;
					padding-bottom:20px;
					margin-bottom:20px;
					.col-lg-6{
						margin-bottom:5px;
					}
					label{
						margin-top:10px;
					}
				}
			}
		}
		.update_student{
			margin:30px;
		}
	}
}
.my_applications{
	@include big_container;
	.heading_container{
		text-align:center;
		margin-bottom:20px;
		border-bottom:1px solid $light_border;
	}
}

select.course, select.branch{
	display:inline;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.hidden_row{
	padding-top:0px !important;
	padding-bottom:0px !important;
	
}
.accordion-toggle{
	cursor:pointer;
}

@media all and (max-width:767px){
	.student_account_form_container{
		.student_account_form{
			width:90%;
		}
	}
}