// Place all the styles related to the Tpos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary_blue_prev : rgb(45, 174, 191);
$primary_blue : rgb(75, 196, 212);
$primary_green : rgb(111, 201, 154);
$light_border: #EAEAEA;
@mixin green_hover{
  	background:$primary_green;
  	color:#FFF;
  	border:1px solid darken($primary_green, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_green,10%);
  	};
}
@mixin blue_hover{
  	background:$primary_blue;
  	color:#FFF;
  	border:1px solid darken($primary_blue, 5%);
  	&:hover{
  		color:#FFF;
  		background:lighten($primary_blue,10%);
  	};
}
.user_content_wrapper.tpo_side_bar{
	margin-top:10px;
	border-right:1px solid #EEE;
	font-size:18px;
	color:#333;
	text-align:center;
	.user_pic_container{
		width:100%;
		height:130px;
		margin-bottom:20px;
		.user_pic{
			width:100%;
			height:100%;
			border:1px solid #EAEAEA;
			background-size:cover;
			background-postion:center;
		}
	}
	a.tpo_name{
		margin-bottom:20px;
	}
	a.btn{
		margin-top:20px;
		font-size:15px;
		font-weight:bold;
		border-radius:0px;
		@include green_hover;
		span{
			font-size:12px;
		}
	}
}
.tpo_edit_form_container{
	text-align:center;
	background:#FFF;
	border:1px solid #EAEAEA;
	padding-bottom:60px;
	.tpo_edit_form{
		width:500px;
		margin:0px auto;
		text-align:left;
		display: inline-block;

		h3{
			text-align:center;
			colr:#444;
		}

		form{
			.form-control{
				border-radius:0px;
			}
			.btn{
				border-radius:0px;
				@include blue_hover;
			}
		}
	}
}
.jobposts_list{
	width:98%;
	margin:0 auto;
	.jobposts_count{
		margin-left:10px;
		small{
			color:#BBB;
			font-size:15px;
			margin-top:10px;
		}
	}
	.jobpost_container{
		background:#FFF;
		border:1px solid #EAEAEA;
		padding:5px 20px;
		padding-top:5px;
		margin-bottom:10px;
		position:relative;
		.job_title{
			clear:both;
			font-weight:bold;
			border-bottom:1px solid #EEE;
			.position{
				padding-left:5px;
				margin-bottom:5px;
				font-size:20px;
			}
			.company{
				padding-right:5px;
				margin-bottom:5px;
				font-size:18px;
			}
		}
		.left_aligned{
			text-align:left;
			display:inline-block;
			width:48%
		}
		.right_aligned{
			text-align:right;
			display:inline-block;
			width:48%;
		}
		.job_info{
			text-align:left;
			margin-top:2px;
			marginbottom:0px;
			color:#333;
			padding:5px 10px;
			display:table;
			.general_info{
				border-right:1px solid #EAEAEA;
				display:table-cell;
				float:none;
				ul{
					padding-left:10px;
					li{
						background:#FCFCFC;
						border:1px solid darken(#FAFAFA, 5%);
						padding:6px;
						margin-bottom:5px;
						&:hover{
							background:#FAFAFA;
						}
						span{
							color:#666;
							width:25px;
							padding-left:5px;
							margin-right:5px;
							border-right:1px solid darken(#FAFAFA, 5%);
						}
					}
				}
			}
			.courses_branches{
				display:table-cell;
				float:none;
				ul{
					li{
						border-bottom:1px solid #FAFAFA;
						padding:1px;
						margin-bottom:5px;
						span.course_name{
							width:80px;
							display:inline-block;
							background:darken(#FAFAFA, 2%);
							border:1px solid darken(#FAFAFA, 10%);
							padding:5px 10px;
						}
						span.branch_name{
							background:#FAFAFA;
							border:1px solid darken(#FAFAFA, 5%);
							padding:5px 10px;
							margin-left:2px;
						}
					}
				}
			}
		}
		.actions{
			display:block;
			margin-top:0px;
			padding-bottom:10px;
			padding-top:10px;
			text-align:right;
			border-bottom:1px solid #EEE;
			border-top:1px solid #EEE;

			.btn{
				border-radius:0px;
				font-weigh:light;
			}
		}
		.author{
			text-align:center;
			color:#CCC;
			padding-top:5px;
			font-size:12px;
			font-weight:lighter;
		}
		span.box{
			padding:5px;
		}
	}
}
.no_posts_note{
	text-align:center;
	width:98%;
	background:#FFF;
	border:1px solid #EAEAEA;
	padding-top:25px;
	padding-bottom:25px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.user_content{
	text-align:center;
}
.tpo_contact_info{
	text-align:center;
	p{
		padding:2px 3px 2px 6px;
		margin-bottom:5px;
		margin-top:5px;
		font-size:15px;
		color:#555;
		text-align:left;
		span.fa{
			font-size:15px;
			margin-right:3px;
			display:inline;
			color:#AAA;
		}
	}
	span.divider{
		display:block;
		width:80%;
		margin:0 auto;
		border-bottom:1px solid #EAEAEA;
	}
}
.student_search_container{
	background:#FFF;
	width:98%;
	margin:0 auto;
	padding:10px 30px;
	border:1px solid $light_border;
	.heading_container{
		border-bottom:1px solid $light_border;
		text-align:center;
		margin-bottom:10px;
		h1.lead{
			margin-bottom:5px;
		}
	}
}

@media all and (max-width:767px){
	
	.tpo_edit_form_container{
		.tpo_edit_form{
			width:90%;
		}
	}
}