<div class="container">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".nav-menu">
	        	<span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
        	</button>
			<h1 class="navbar-brand"><%= link_to "sf", root_path %></h1>
			<ul class="nav navbar-nav collapse nav-menu navbar-collapse">
				<% if current_user.user_type == 2 %>
					<li class="pull-left">
						<%= link_to jobfeed_student_path do %>
							<span class="fa fa-home"></span> Home
						<% end %>	
					</li>
					<li class="divider visible-md visible-lg"></li>
				<% elsif current_user.user_type == 1 && current_user.admin %>
					<li class="pull-left">
						<%= link_to admin_panel_path do %>
							<span class="fa fa-home"></span> Home
						<% end %>	
					</li>
					<li class="divider visible-md visible-lg"></li>
				<% end %>
				<li class="pull-left">
					<%= link_to current_user do %>
						<%= image_tag current_user.image_url.nil? ? image_url('default_user.jpg') :  image_url(current_user.image_url.to_s), :alt=>"" %>
						<%= current_user.first_name %>
					<% end %>
				</li>
				<li class="search_form col-lg-6 col-md-4 col-sm-2 col-xs-12">
					<% if current_user.user_type == 2 %>
						<%= form_tag(jobfeed_student_path, :method => "get", id: "search-form") do %>
							<%= text_field_tag :search, params[:search], :placeholder => "Search Jobs by Position, Company or skills", :class => "form-control", :autocomplete => "Off" %>
							<%= button_tag(type: "submit", class: "btn btn-sm") do %>
								<span class="fa fa-search"></span>
							<% end %>
						<% end %>
					<% else %>
						<%= form_tag(search_students_tpo_path, :method => "get", id: "search-form") do %>
							<%= text_field_tag :search, params[:search], :placeholder => "Search students from your college by name or email", :class => "form-control", :autocomplete => "Off" %>
							<%= button_tag(type: "submit", class: "btn btn-sm") do %>
								<span class="fa fa-search"></span>
							<% end %>
						<% end %>
					<% end %>
					<!--<form role="search">
						<input type="text" placeholder="Search Jobs by Position, Location or Company" class="form-control">
						<button class="btn btn-default btn-sm"><span class="fa fa-search"><span></button>
					</form>-->
				</li>
				<li class="dropdown_container"><a href="#"><span class="fa fa-cog"></span> Account <span class="caret"></a>
					<ul class="dropdown_list list-unstyled">
						<li class="arrow_up"></li>
						<% if current_user.user_type == 1 %>
								<li>
									<%= link_to edit_tpo_path(current_user) do %>
									<span class="fa fa-edit"></span> Edit Profile
									<% end %>
								</li>
						<% elsif current_user.user_type == 2 %>
								<li>
									<%= link_to account_settings_student_url(id: current_user.id) do %>
										<span class="fa fa-cogs"></span> Account Settings
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to edit_student_path(current_user), 'data-no-turbolink' => true do %>
									<span class="fa fa-edit"></span> Edit Profile
								<% end %>
							</li>
						<% end %>
						<li class="divider"></li>
						<li>
							<%= link_to logout_path, method: "delete", 'data-no-turbolink' => true do %>
							  <span class="fa fa-power-off"></span> Log Out
							<% end %>
						</li>
					</ul>
				</li>
				<li class="divider pull-right"></li>
				<li class="dropdown_container"><a href="#"><span class="fa fa-language"></span> Opportunities <span class="caret"></a>
					<ul class="dropdown_list list-unstyled">
						<li class="arrow_up"></li>
						<% if current_user.user_type == 2 %>
							<li>
								<%= link_to jobfeed_student_path(job_type: 1) do %>
									<span class="fa fa-institution"></span> On-Campus
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to jobfeed_student_path(job_type: 2) do %>
									<span class="fa fa-building-o"></span> Off-Campus
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to jobfeed_student_path(job_type: 3) do %>
									<span class="fa fa-building"></span> Walk-ins
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to jobfeed_student_path(job_type: 4) do %>
									<span class="fa fa-rocket"></span> Internships
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to jobfeed_student_path(location_id: current_user.location_id) do %>
									<span class="fa fa-map-marker"></span> Nearby 
								<% end %>
							</li>
							<li class="divider visible-xs"></li>
							<li class="visible-xs">
								<%= link_to my_applications_student_path(id: current_user.id) do %>
									<span class="fa fa-list-ul"></span> My Applications
								<% end %>
							</li>
						<% else %>
							<li>
								<%= link_to new_jobpost_path do %>
									<span class="fa fa-plus"></span> Post New
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to tpo_path(current_user) do %>
									<span class="fa fa-list-ul"></span> My Posts
								<% end %>
							</li>
						<% end %>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>