<!DOCTYPE html>
<html>
<head>
	<title>Simplifica | <%= yield(:title) %></title>
	<%= stylesheet_link_tag "style" %>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag  'animate', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery-validate.bootstrap-tooltip.min', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'signup_validations', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="placement, portal, fresher, jobs, off campus, pool campus, walkins">
	<meta name="description" content="Simplifica is an online placement portal that can be used by different colleges across India">
</head>
<body>
	<div class="body_wrapper">
		<header>
		    <nav class="navbar navbar-default navbar-fixed-top">
		    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_nav">
		        	<span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <div class="container">
		            <h1 class="navbar-brand"><%= link_to "Simplifica", root_path %></h1>
		            <ul class="nav navbar-nav collapse navbar-collapse navbar-responsive-collapse navbar-right" id="primary_nav">
		            	<li>
		                	<%= link_to about_path do %>About Simplifica<% end %>
		                    <span></span>
		                </li>
		                <!--<li>
		                	<a href="#">How it Works?</a>
		                    <span></span>
		                </li>
		                <li>
		                	<a href="#">The Team</a>
		                    <span></span>
		                </li>-->
		                <li>
		                	<%= link_to about_path+'#contact_us' do %>Contact Us<% end %>
		                    <span></span>
		                </li>
		                <li>
		                	<%= link_to "LogIn", new_session_path, class: "login_link" %>
		                	<span></span>
		                </li>
		            </ul>
				</div>
		    </nav>
		</header>
		<div style="position:relative">

			<%= yield %>
			
			<% unless controller_name == 'welcome' && action_name == 'about' %>
				<footer>
					<div class="container">
				        <div class="copyright">copyright &copy; simplifica.co.in</div>
				        <div class="social_links pull-right">
				            <p>Follow Us On</p>
				            <div class="fb"><a href="#">b<span class="fb_hover_span"></span></a></div>
				            <div class="tw"><a href="#">a<span class="tw_hover_span"></span></a></div>
				            <div class="li"><a href="#">j<span class="li_hover_span"></span></a></div>
				        </div>
				    </div>
				</footer>
			<% end %>
		</div>
		<div id="page_loader">
			<div class="page_loader_spinner">
			    <span class="spinner"></span>
			</div>
			<p class="loading_text lead">Loading . . .</p>
		</div>
	</div>
</body>
</html>
