<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title) %></title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'members', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'logged_in', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'members', 'data-turbolinks-track' => true %>
	
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render '/layouts/logged_in_navbar' %>	
	<div class="container content_wrapper" id="big_container">
		<div class="row content_row">
			<div class="col-lg-10 col-md-10 col-sm-12 dynamic_content_wrapper">
				<% flash.each do |message_type, message| %>
					<div class="flash_wrapper">
                		<div class="alert alert-<%= message_type %> activation_alert"><%= message %></div>
                		<span class="terminate" data-dismiss="alert">
                			<i class="fa fa-close"></i>
                		</span>
                	</div>
            	<% end %>
				<%= yield %>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-12 adv_wrapper hidden">
				<div class="advertisement">
					<p>Advertisement</p>
				</div>
				<div class="advertisement">
					<p>Advertisement</p>
				</div>
				<div class="advertisement">
					<p>Advertisement</p>
				</div>
			</div>
		</div>
	</div>
	<div id="page_loader">
		<div class="page_loader_spinner">
		    <span class="spinner"></span>
		</div>
		<p class="loading_text lead">Loading . . .</p>
	</div>
	<footer>
		<div class="container">
			<p>Facing any issues? We're here to help! Drop us a line at <b>support@simplifica.co.in</b></p>
		</div>
	</footer>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
